<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>Procurement and Business Opportunities</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <br>
                <br>
                <h1><a name="startcontent"></a>Procurement and Business Opportunities </h1>
                <h4 class="style2">Procurement with other organizations: </h4>
                <ul>
                    <li><a href="http://www.rbha.org/news.htm#rfps"></a><a href="http://www.richmondgov.com/Procurement/BidsProposals.aspx">City of Richmond</a></li>
                    <li><a href="http://www.charlottesville.org/Index.aspx?page=699">City of Charlottesville </a></li>
                    <li><a href="http://www.hampton.gov/bids-contracts/">City of Hampton</a> </li>
                    <li><a href="http://www.nngov.com/purchasing">City of Newport News</a></li>
                    <li><a href="http://www.norfolk.gov/Purchasing/">City of Norfolk </a></li>
                    <li><a href="http://www.vbgov.com/government/departments/finance/Pages/purchasing.aspx">City of Virginia Beach</a> </li>
                    <li><a href="http://www.chesterfield.gov/content.aspx?id=11199">Chesterfield County </a></li>
                    <li><a href="http://www.apsva.us/Page/2782">Arlington Public Schools</a></li>
                    <li><a href="http://www.roanokecountyva.gov/bids.aspx">Roanoke County</a> </li>
                    <li><a href="http://www.fredericksburgva.gov/Departments/FiscalAffairs/index.aspx?id=1407">City of Fredericksburg</a> </li>
                    <li><a href="http://www.pwcsa.org/index.php?option=com_content&view=category&id=9&Ite">Prince William County Service Authority</a></li>
                    <li><a href="http://www.wmjordan.com/projects_for_bid/current_bids.html">W.M. Jordan Company </a></li>
                    <li><a href="http://www.culpeperschools.org/rfp.php">Culpeper County Public Schools</a> </li>
                    <li><a href="http://www.hrsd.com/bidsandrfps.htm">Hampton Roads Sanitation District </a></li>
                    <li><a href="http://www.rbha.org/news.htm#rfps">Richmond Behavioral Health Authority</a></li>
                    <li><a href="http://www.bathcountyva.org/services.htm">Bath County </a></li>
                    <li><a href="http://www.vre.org/about/procurement.htm">Virginia Railway Express</a></li>
                    <li><a href="images/CE10/Nielsen IFB 7-28-20110001.jpg">Nielsen Builders</a> </li>
                    <li><a href="http://www.hrpdcva.gov/RFP_RFQ.asp">Hampton Roads Planning District Commission </a></li>
                    <li><a href="http://www.hrtpo.org/TPO_RFP_RFQ.asp">Hampton Roads Transportation Planning Organization </a></li>
                    <li><a href="http://www.rmaonline.org/rfp.html">Richmond Metropolitan Authority</a></li>
                    <li><a href="http://www.westernvawater.org/WebMgmt/ywbase61b.nsf/vwContentByKey/N2626NEY641PLESEN">Western Virginia Water Authority</a></li>
                    <li><a href="http://prtctransit.org/about-us/doing-business-with-prtc/procurements.php">Potomac  &amp; Rappahannock Transportation Commission (PRTC) </a></li>
                    <li><a href="http://www.donleyinc.com/news-events/">Donley's Inc. </a></li>
                    <li><a href="http://www.sbballard.com/bid_schedule.php">SB Ballard Construction</a>
                    <li><a href="http://www.houriganconstruction.com">Hourigan Construction</a>
                    <li><a href="http://www.gohrt.com/about/procurement/">Hampton Roads Transit</a><br>
                    </li>
                </ul>
                <h4 class="style1"><a href="http://www.eva.virginia.gov/" target="_blank">Procurement with the Commonwealth of Virginia</a></h4>
                <ul>
                    <li><a href="https://eva.virginia.gov/">State Procurement System (eVA)</a> </li>
                    <li><a href="https://evafutureprocurements.dgs.virginia.gov/defaultpublic.aspx">Future Business Opportunities</a>
                    <li><span class="style2"><a href="http://www.virginiadot.org/business/bu_ContractorResources.asp">Virginia Department of Transportation Business Opportunities Center</a></span></li>
                </ul>
                <h4 class="style1"><a href="http://www.eva.virginia.gov/" target="_blank">Business Workshop and Training </a></h4>
                <ul>
                    <li><a href="http://www.hampton.gov/ed/">City of Hampton - Department of Economic Development</a></li>
                </ul>
                <p>** Please Note you will need <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe&rsquo;s Acrobat Reader (.pdf) </a> or <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=95e24c87-8732-48d5-8689-ab826e7b8fdf&DisplayLang=en">Microsoft Word Reader (.doc)</a> in order to view some of the documents on this page.</p>
                <h4>&nbsp;</h4>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
