<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>Contact Us</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <p> We  are the state agency dedicated to enhancing the participation of our small,  women- and minority-owned businesses in Virginia&rsquo;s  procurement process. </p>
                <p>The Department of Small Business and Supplier Diversity <strong>(</strong><strong>SBSD</strong>) administers three certification programs: </p>
                <ol>
                    <li><strong>SWaM:</strong> The <strong>Small, Women-owned, and Minority-owned Business (</strong>SWaM) certification program is a state program of the Commonwealth  of Virginia. The purpose is to enhance procurement opportunities for SWaM  businesses participating in state-funded projects.<br>
                        <br>
                    </li>
                    <li><strong>DBE:</strong> The Disadvantaged  Business Enterprise certification program is a Federal  program. The purpose is to increase the participation of certified DBEs in projects  funded by the US Department of Transportation and other federal sectors. <br>
                        <br>
                    </li>
                    <li><strong>ESO</strong>: &quot;Employment services organization" means an organization that provides   community-based employment services to individuals with disabilities that is an   approved Commission on Accreditation of Rehabilitation Facilities (CARF)   accredited vendor of the Department for Aging and Rehabilitative Services. </li>
                </ol>
                <ul>
                    <li>
                        <p>
                            <span class=""><strong>Apply for SWaM<br>
                                </strong></span><span class="style18"><a href="pdf/SWaM_Initial_Certification.pdf" target="_blank">(Instructions and application to apply for initial certification)</a><a href="pdf/SWaM_Re-certification.pdf" target="_blank">(Instructions and application to apply for re-certification)</a></span> </p>

                        <span class="">Important   Notice: If you are a non-Virginia based business, you might not be eligible for participation in the Virginia&nbsp;Small,   Women- and Minority-owned Business Program. Please review the &quot;SBSD Certification Policy of Applications from Non-Virginia Based Businesses&quot; before applying online for SWaM certification or recertification.<a href="pdf/Policy_&_Procedures_for_Processing_Non-VA_Based_Business_Certification_for_SWaM_August_2011.pdf"> (Click here)</a></span><span class=""/>
                    </li>

                    <li>
                        <p><strong>Apply for DBE<br>
                            </strong><a href="dbecert.html">(apply)</a></p>
                    </li>

                    <li>
                        <p><strong>Apply for ESO <br>
                            </strong>Application Form <a href="pdf/ESO_Application FY2013.pdf">(PDF)</a> <a href="documents/ESO_Application FY2013.docx"> | (Word)</a> </p>
                        <p><a href="pdf/Approved_ESO.pdf" class="story style32"> Virginia Certified Employment Service Organizations</a> </p>
                        </blockquote>
                        </p>
                    </li>
                    <br>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
