<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>Frequently Asked Questions</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <br>
                <br>
                <div id="navsubpages">
                    <ul>
                        <li><a href="#general">General Certificate Questions</a> </li>
                        <li><a href="#swam">Virginia <ACRONYM title="Small, Women and Minority">SWaM</acronym> Program</a> </li>
                        <li><a href="#dbe">Federal <ACRONYM title="Disadvantaged Business Enterprise">DBE</acronym> Program</a> </li>
                        <li><a href="#financing">Financing</a></li>
                    </ul>
                </div>
                <h1><a name="startcontent"></a>Frequently Asked Questions </h1>
                <h4>General Questions</h4>
                <ol>
                    <li><a href="#program">What is the Virginia SWaM Program?</a></li>
                    <li><a href="#benefits">What are the benefits of SWaM certification? </a></li>
                    <li><a href="#cost">Is there a cost  to become certified? </a></li>
                    <li><a href="#MBE">What is the definition of Minority-owned Business? </a></li>
                    <li><a href="#minority">What is the definition  of Minority Individual</a>?</li>
                    <li><a href="#SBE">What is the  definition of a Small Business?</a></li>
                    <li><a href="#WBE">What is the definition  of a Women-Owned Business?</a></li>
                    <li><a href="#veteran">Can I be certified as &ldquo;Service Disabled&rdquo; or a &ldquo;Veteran&rdquo;?</a></li>
                    <li><a href="#SWaM_DBE">Should I apply for SWaM or DBE Certification? What&rsquo;s the difference?</a> </li>
                    <li><a href="#DUNS">What is a DUNS number and how do I get one?</a></li>
                    <li><a href="#email">Why do I need an  email address? </a></li>
                    <li><a href="#nocomputer">I don&rsquo;t have  access to a computer. How do I become certified?</a></li>
                    <li><a href="#prove">How do I prove that I&rsquo;m certified as a SWaM business?</a></li>
                    <li><a href="#difference">What is the difference between DSBSD (formerly DMBE) certification and DBE certification?</a></li>
                </ol>
                <p><a href="#startcontent">Top</a></p>
                <h4><acronym titile="Small, Women and Minority">SWaM</acronym> Questions </h4>
                <ol>
                    <li><a href="#SWaM1">What documents should I submit to prove identification?</a> </li>
                    <li><a href="#SWaM2">Do I need to notarize my  application?</a></li>
                    <li><a href="#SWaM3">I&rsquo;ve completed my  application online. When will I receive my certification?</a></li>
                    <li><a href="#SWaM4">What happens after I submit  my SWaM certification application?</a></li>
                    <li><a href="#SWaM5">Why must I provide a copy of  my business&rsquo; Income Tax Return?</a></li>
                    <li><a href="#SWaM6">I&rsquo;ve submitted my required  supporting documents, now what?</a></li>
                    <li><a href="#SWaM7">How else can I prove my  ownership and control of the business?</a></li>
                    <li><a href="#SWaM9">How long am I certified?</a></li>
                    <li><a href="#SWaM10">How will a state procurement  officer or buyer find my business?</a></li>
                    <li><a href="#SWaM11">What else can I do to promote my business?</a></li>
                    <li><a href="#SWaM12">Does certification guarantee that I will receive a state  contract?</a></li>
                    <li> <a href="#SWaM12">I am from one of the 14 states  listed on the SBSD website that are unable to participate in the Virginia SWaM  Program. Why can&rsquo;t I participate? </a></li>
                </ol>
                <p><a href="#startcontent">Top</a></p>
                <h4>DBE Questions</h4>
                <ol>
                    <li><a href="#dbe1">Should I apply for SWaM  first, and then the <acronym>DBE Program</acronym>?</a></li>
                    <li><a href="#dbe2">I&rsquo;m already a certified  DBE. Should I apply for <acronym>SWAM</acronym> certification?</a></li>
                    <li> <a href="#dbe3">What are the general criteria for DBE certification? </a></li>
                    <li> <a href="#dbe4">How do I apply for DBE Certification? </a></li>
                    <li><a href="#dbe5">What are the current requirements for notarization of   documents?</a></li>
                    <li> <a href="#dbe6">Where can I get the DBE application forms? </a></li>
                    <li> <a href="#dbe7">I'm SDB / 8(a) certified.  Do I need to complete the DBE Application Form as well? </a></li>
                    <li> <a href="#dbe8">I'm DBE certified in my Home State.  Do I need to complete a new application for Virginia?</a></li>
                    <li> <a href="#dbe9">Why do I need to send all the supporting documents? </a></li>
                    <li> <a href="#dbe11">What is the purpose of an Onsite Visit? </a></li>
                    <li> <a href="#dbe12">How long does the DBE application process take? </a></li>
                    <li> <a href="#dbe13">What business and technical assistance is available to DBE Companies? </a></li>
                </ol>
                <p><a href="#startcontent">Top</a></p>
                <h4>Other Questions</h4>
                <ol>
                    <li><a href="#f1">What is eVA?</a></li>
                    <li><a href="#f2">What is Ariba?</a></li>
                    <li><a href="#f3">My business is not based in Virginia. Can I still become certified?</a></li>
                    <li> <a href="#f4">Do I have to send the  original documents?</a></li>
                    <li><a href="#f5">If I have questions or need help?</a></li>
                    <li><a href="#f6">Is there someone that I can speak to directly or  in my area?</a></li>
                </ol>
                <p><a href="#startcontent">Top</a></p>
                <h4><a name="general"></a>General Questions</h4>
                <ol>
                    <li><span class="strongandunderlinetext"><a name="program" id="program"></a><u>What is the Virginia SWaM Program?</u></span><br>
                        The SWaM Procurement  Initiative was established to enhance business opportunities for small, women-  and minority-owned businesses and to ensure a level playing field for all small  businesses in the Commonwealth   of Virginia. SWaM is the  acronym for Small, Women- and Minority-owned businesses. A SWaM vendor is a  business that has been certified by the Virginia Department of Small Business and Supplier Diversity and is listed in the SWaM Vendor Directory</li><br>
                    <li><span class="strongandunderlinetext"><a name="benefits" id="benefits"></a><u>What are the benefits of SWaM certification?</u></span><br>
                        On August 10, 2006, Governor Timothy Kaine signed Executive Order  No. 33 (2006) focusing on enhancing business opportunities for small, women-  and minority-owned (&ldquo;SWaM&rdquo;) businesses. Governor Kaine set forth a 40% goal of  purchases from SWaMs for the Commonwealth and established a Small Business  Set-Aside Program, as well as several other initiatives for state agencies and  departments to enhance SWaM participation in procurement activities.   Becoming SWaM certified includes you in the SWaM Vendor Directory, which is the  listing used by state procurement officials to locate SWaM certified vendors. </li><br>
                    <li><span class="strongandunderlinetext"><a name="cost" id="cost"></a><u>is there a cost  to become certified?</u></span><br>
                        There is no cost for  certification in Virginia.</li><br>
                    <li><span class="strongandunderlinetext"><a name="MBE" id="MBE"></a><u>What is the definition of &ldquo;Minority-owned Business &rdquo;?</u></span><br>
                        &quot;Minority-owned business&quot; means a business that is at least 51% owned by one or more minority individuals who   are U.S. citizens or legal resident aliens, or in the case of a corporation,   partnership, or limited liability company or other entity, at least 51% of the   equity ownership interest in the corporation, partnership, or limited liability   company or other entity is owned by one or more minority individuals who are   U.S. citizens or legal resident aliens, and both the management and daily   business operations are controlled by one or more minority individuals.</li><br>
                    <li><span class="strongandunderlinetext"><a name="Minority" id="Minority"></a>What is the definition  of Minority Individual?</span><br>
                        &quot;Minority  individual&quot; means an individual who is a citizen of the United States or legal resident alien and who satisfies one  or more of the following definitions: <br>
                        1. &quot;African American&quot; means a person having  origins in any of the original peoples of Africa  and who is regarded as such by the community of which this person claims to be  a part. <br>
                        2. &quot;Asian American&quot; means a person having  origins in any of the original peoples of the Far East, Southeast Asia, the  Indian subcontinent, or the Pacific Islands, including but not limited to  Japan, China, Vietnam, Samoa, Laos, Cambodia, Taiwan, Northern Mariana, the  Philippines, a U.S. territory of the Pacific, India, Pakistan, Bangladesh, or  Sri Lanka and who is regarded as such by the community of which this person  claims to be a part. <br>
                        3. &quot;Hispanic American&quot; means a person  having origins in any of the Spanish-speaking peoples of Mexico, South or Central America, or the Caribbean Islands or other Spanish or Portuguese  cultures and who is regarded as such by the community of which this person  claims to be a part. <br>
                        4. &quot;Native American&quot; means a person having  origins in any of the original peoples of North America  and who is regarded as such by the community of which this person claims to be  a part or who is recognized by a tribal organization. </li><br>
                    <li><span class="strongandunderlinetext"><a name="SBE" id="SBE"></a>What is the  definition of a Small Business?</span><br>
                        &quot;Small business&quot; means a business that is at least 51% independently owned and controlled by one or   more individuals who are U.S. citizens or legal resident aliens, and together   with affiliates, has 250 or fewer employees, or average annual gross receipts of   $10 million or less averaged over the previous three years. One or more of these   individual owners shall control both the management and daily business   operations of the small business. </li><br>
                    <li><span class="strongandunderlinetext"><a name="WBE" id="WBE"></a>What is the definition  of a Women-Owned Business?</span><br>
                        &quot;Women-owned business&quot; means a business that is at least 51% owned by one or more women who are U.S.   citizens or legal resident aliens, or in the case of a corporation, partnership,   or limited liability company or other entity, at least 51% of the equity   ownership interest is owned by one or more women who are citizens of the United   States or legal resident aliens, and both the management and daily business   operations are controlled by one or more women. </li><br>
                    <li><span class="strongandunderlinetext"><a name="Veteran" id="Veteran"></a>Can I be certified as &ldquo;Service Disabled&rdquo; or a &ldquo;Veteran&rdquo;?</span><br>
                        Veterans  who are small business owners can obtain Service Disabled Veteran-owned  &ldquo;status&rdquo; in the SWaM vendor database. This is not a separate certification; it  is a designation of those businesses that are owned by Service Disabled  Veterans who are certified as such by the Virginia Department of Veteran  Services. Veterans wishing to apply for service disabled veteran status must  first seek eligibility certification from the Department of Veteran Services by  calling (804) 786-0286 or visiting the DVS website at <a href="http://www.virginiaforveterans.com/">www.virginiaforveterans.com</a> . Veterans can apply for  small, women-owned or minority-owned certification with the Department of Small Business and Supplier Diversity before or after obtaining an eligibility  certificate from DVS. Both services are available at no charge.
                        </p>
                    </li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM_DBE" id="SWaM_DBE"></a><u>Should I apply for SWaM or DBE Certification? What&rsquo;s the difference?</u></span><br>
                        The SWaM Procurement  Initiative is a Commonwealth   of Virginia program,  while the Disadvantaged Business Enterprise (&ldquo;DBE&rdquo;) Program is a federal  certification program under the U.S. Department of Transportation.&nbsp; The DBE Program focuses on Federally-funded  projects through the Virginia Department of Transportation (VDOT), and also  includes rail, airport and seaport projects, as well as public transit  projects. See below for more information on the DBE Program..</li><br>
                    <li><span class="strongandunderlinetext"><a name="DUNS" id="DUNS"></a>What is a DUNS number and how do I get one?</span><br>
                        The Dun &amp; Bradstreet or &ldquo;DUNS&rdquo;  Number is a unique nine-digit identification sequence, which provides unique  identifiers of single business entities, while linking corporate family  structures together. It is recognized, recommended and/or required by more than  50 global, industry and trade associations, including the United Nations, the  U.S. Federal Government, the Australian Government and the European Commission.  In today's global economy, the D&amp;B DUNS Number has become the standard for  keeping track of the world's businesses. To get a DUNS Number, call 1-866-705-5711 and request for a DUNS number for doing business with federal and state government. There is no charge for the number. You can also go to the <a href="http://www.dnb.com">Dun &amp; Bradstreet</a> website at <a href="http://www.dnb.com/get-a-duns-number.html">http://www.dnb.com/get-a-duns-number.html</a>..</li><br>
                    <li><span class="strongandunderlinetext"><a name="email" id="email"></a>Why do I need an  email address?</span><br>
                        The Commonwealth of Virginia  is quickly moving towards the use of electronic means for communication and for  many of its procurement processes. In today&rsquo;s world, having a computer and an  email account is necessary in order to compete with other businesses. </li><br>
                    <li><span class="strongandunderlinetext"><a name="nocomputer" id="nocomputer"></a><u>I don&rsquo;t have  access to a computer. How do I become certified?</u></span><br>
                        The Commonwealth of Virginia  is quickly moving towards the use of electronic means for communication with  businesses. Many of the Commonwealth&rsquo;s procurement activities are electronic  and having access to a computer with Internet access is vital. Businesses  without computer or Internet access are strongly encouraged to obtain such  access if they intend to do business with the Commonwealth. If Internet access  is unavailable in your area, please contact the Department of Small Business and Supplier Diversity for assistance. You can also visit your local library or educational  institution in your area to use their computers. You will need to obtain an  electronic mail account (known as &ldquo;email&rdquo;) and can use many of the free  services available, such as Yahoo, Hotmail, GMail, or any of the other  available services.</li><br>
                    <li><span class="strongandunderlinetext"><a name="prove" id="prove"></a>How do I prove that I&rsquo;m certified as a SWaM business?</span><br>
                        Once your certification has been approved, you will receive an  electronic approval letter sent to your email address. You can obtain a copy of  your listing the SWaM Vendor Director by finding your business listing and  printing out that page. You can also present a copy of your electronic approval  letter or request a certificate from SBSD. Call the Customer Care Specialist at  804-786-6585 to make this request or email your request to <a href="mailto:sbsd@sbsd.virginia.gov">sbsd@sbsd.virginia.gov</a></li><br>
                    <li><span class="strongandunderlinetext"><a name="difference" id="difference"></a></span><strong class="strongandunderlinetext">What is the difference between DSBSD (formerly DMBE)       certification and DBE certification?</strong><br>
                        “SBSD” was the acronym for the Department of Small Business and Supplier Diversity: the business certification agency for the Commonwealth of Virginia. “DBE” is the acronym for certification  under the federal procurement program administered by the U.S. Department of  Transportation: the Disadvantaged Business Enterprise program. Becoming SBSD  certified means that you are certified by the state and obtaining DBE certification  means that you are certified to participate in the federal program for  transportation-related projects. See the section DBE Questions below.<br>
                        </p>
                    </li><br>
                </ol>
                <p><a href="#startcontent">Top</a></p>
                <h4><a name="swam"></a>Virginia <acronym title="Small, Women and Minority">SWAM</acronym> Program Questions </h4>
                <ol>
                    <li><span class="strongandunderlinetext"><a name="SWaM1" id="SWaM1"></a>What documents should I submit to prove identification?</span><br>
                        You  must provide one of the following documents to prove your identification:</br>
                        <ul>
                            <li>Copy of  government-issued picture identification card (driver&rsquo;s license, military ID  card, etc.)</li>
                            <li>Passport</li>
                        </ul>
                    </li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM2" id="SWaM2"></a>Do I need to notarize my  application? </span><br>
                        No. The notary requirement was eliminated.</span></li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM3" id="SWaM3"></a>I&rsquo;ve completed my  application online. When will I receive my certification?</span><br>
                        The 
                        completion of online application form is only the first  step of your application process. You need to print, sign and date the  completed application form and mail it with all required supporting documents  to us (SBSD) or your  application will not be processed.</li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM4" id="SWaM4"></a>What happens after I submit  my SWaM certification application?</span><br>
                        Once the signed application form  and the completed supporting documents are received by our office, it takes  approximately 60 business days for the assigned certification officer to review  your file. <span class="style1">Information about the status of your application, the date  of your application, all documents that were received or missing, and any other necessary  information being requested can be viewed by entering a certification tracking  number or a portion of the company’s name at this page: Click <a href="cgi-bin/tracking.cgi">HERE</a>. </span></li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM5" id="SWaM5"></a>Why must I provide a copy of  my business&rsquo; Income Tax Return?</span><br>
                        The income tax return  is used to verify that your  business qualifies for SWaM certification in it size and its organization.  Any  proprietary information and all financial records are confidential and excluded  from disclosure under the Freedom of Information Act, Code of Virginia, and  Section 2.2-3705.6 (20). In order for financial records to be excluded  from disclosure under the Virginia Freedom of Information Act, the business  must (1) invoke such exclusion upon submission of the data or other materials  for which protection from disclosure is sought, (2) identify the data or other  materials from which protection is sought, and (3) state the reasons why  protection is necessary.</li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM6" id="SWaM6"></a>I&rsquo;ve submitted my required  supporting documents, now what?</span><br>
                        The requried supporting documents will then be reviewed by a SWaM Certification Officer for  compliance with the eligibility criteria found in the Code of Virginia, Section  2.2-1401, and the Virginia Administrative Code, 7 VAC 10-20-10 et seq. More  specifically, you must be able to demonstrate the following:<br>
                        (A) Be  owned and controlled by an individual who is a citizen of the United States or a legal resident aliens;<br>
                        (B) Be  licensed to transact business in the Commonwealth   of Virginia;<br>
                        (C) Satisfy  the criteria set forth under Section 2.2-1401 of the Code of Virginia and  7VAC10-20-20 for small, women-owned, and minority-owned business certification;<br>
                        (D)&nbsp; Demonstrate  a substantial and personal &ldquo;investment&rdquo; by the Principal owner as defined by  7VAC10-20-20; and <br>
                        (E) Be free from any &ldquo;conversion rights&rdquo; as  defined under 7VAC10-20-20.</li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM7" id="SWaM7"></a>How else can I prove my  ownership and control of the business?</span><br>
                        You  may be asked to provide or may want to further establish your ownership and  control of the business by providing any of the following documents:</br>
                        <ul type="square">
                            <li>Signed agreements or       contracts (e.g., rental agreements, leases, work contracts, or other types       of formal written agreements concerning the business)</li>
                            <li>Contract or work       history of your business (e.g., client list, past project list)</li>
                            <li>Resume(s) of all       owners, shareholders, partnerships, officers, and/or managers</li>
                            <li>Bank signature card, corporate banking  resolution, or notarized letter from bank indicating signatory authorization</li>
                        </ul>
                    </li><br>
                    <li><span class="strongandunderlinetext" id="SWaM9" name="SWaM9"><span class="strongandunderlinetext" id="SWaM9" name="SWaM9"><a name="SWaM9" id="SWaM9"></a></span>How long am I certified?</span><br>
                        If your supporting documentation proves your  status as a Small, Women- or Minority-owned Business, your certification will  be granted for a three (3) year term. At least 30-60 days prior to  the expiration of your certification, you must re-certify to maintain your SWaM  status.</li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM10" id="SWaM10"></a>How will a state procurement  officer or buyer find my business?</span><br>
                        Once approved as a SWaM vendor, your business  will be listed in the SWaM Vendor Directory. This directory is a listing of all  certified small, women and minority-owned firms currently on file with SBSD,  along with a description of the products/services they provide. The SWaM Vendor  Directory is posted on our website at <a href="http://egov1.virginia.gov/swam_reports/all.html" target="_blank">www.sbsd.virginia.gov</a> and accessed by procurement agents of state agencies, as well as other public  entities and private corporations, when searching for a SWaM vendor.</li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM11" id="SWaM11"></a>What else can I do to promote my business?</span><br>
                        If you have not already done so, we strongly recommend that you register your company with eVA , the state&rsquo;s online, electronic procurement system.  For more information about eVA and getting registered, visit the Vendor Resource Center on the eVA website at <a href="http://www.eva.virginia.gov/pages/eva-vendors-resource.htm">http://www.eva.virginia.gov/pages/eva-vendors-resource.htm</a>. <br>
                    </li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM12" id="SWaM12"></a>Does certification guarantee that I will receive a state  contract?</span><br>
                        No, obtaining SWaM  certification does not serve as a guarantee of work or that you&rsquo;ll receive a  contract.&nbsp; The Program provides the tools  for your business to effectively compete and remove any barriers or limitations  in the state procurement process for small, women- and minority-owned  businesses. You will still need to aggressively market your business, network,  and competitively bid for projects or contracts.</li><br>
                    <li><span class="strongandunderlinetext"><a name="SWaM12" id="SWaM12"></a></span><span class="strongandunderlinetext">I am from one of the 12 states  listed on the SBSD website that are unable to participate in the Virginia SWaM  Program. Why can&rsquo;t I participate? </span><br>
                        The  following 12 states and district do not allow Virginia-based businesses to  participate equally in their programs for small, women- or minority-owned  businesses:  Arkansas,  California, Connecticut,  Florida, Iowa,  Louisiana, Minnesota,  Mississippi, New Mexico,  Ohio, Texas, and Washington, D. C.. Businesses  based in these 12 states are not eligible to participate because the Code of  Virginia (Section 2.2-1403 (8) requires that SBSD deny them participation as a  result of their programs  or procurement preferences which negatively affect Virginia-based businesses  (such as denying them certification or having non-Virginia, in-state  preferences or pre-conditions for participation).</br>
                    </li><br>
                </ol>
                <p><a href="#startcontent">Top</a></p>
                <h4><a name="dbe"></a>Federal <ACRONYM title="Disadvantaged Business Enterprise">DBE</acronym> Program Questions </h4>
                <ol>
                    <li><span class="strongandunderlinetext"><a name="dbe1" id="dbe1"></a><strong><u>Should I apply for SWaM  first, and then the <acronym>DBE Program</acronym>?</u></strong></span><br>
                        No. If you intend to apply  for <acronym>DBE</acronym> Certification, do that one first. Although it is more demanding, it also  includes <acronym>SWAM</acronym> status,  so you will only need to apply once, but you will get both certifications if  you are successful.</li><br>
                    <li><span class="strongandunderlinetext"><a name="dbe2" id="dbe2"></a>I&rsquo;m already a certified  DBE. Should I apply for <acronym>SWAM</acronym> certification?</span><br>
                        No. Your Virginia <acronym>DBE</acronym> Certification automatically gives  you <acronym>SWAM</acronym> status in Virginia.</li><br>
                    <li><span class="strongandunderlinetext"><a name="dbe3" id="dbe3"></a>What are the current requirements for notarization of   documents? </span><br>
                        The Affidavit of Certification, the Affidavit of No Change, and the Personal   Networth Statement all need to be notarized. Notarization must include date,   city/county and state in which notarization was performed. It must also include   the notary registration number of the notary public, and the date of expiry of   his/her commission.&nbsp; The notary certificate must be on the same page as the   signature it is witnessing, and the DBE applicant signing the document must be   physically present with the notary and sign in his/her presence.&nbsp; The notary   must be certain of the Applicant&rsquo;s true identity. The seal should be sharp,   legible, permanent, and photographically reproducible. For further information,   click <a href="pdf/Notary HB2058 Notice20007.pdf">here.</a></li><br>
                    <li><span class="strongandunderlinetext"><a name="dbe4" id="dbe4"></a>How do I apply for <ACRONYM title="Disadvantaged Business Enterprise">DBE</acronym> Certification?</span><br>
                        On this website, go to the  DBE Certification page.  Print out the Uniform Certification Application form, the Gross Receipts Survey and the Personal Networth Statement.  Complete the forms.  Get the Application and the Personal Networth Statement notarized, and mail them into us with the supporting documentation listed on the Checklist at the back of the Application Form.  Check that Federal Tax Returns have been signed before mailing.</li><br>
                    <li><span class="strongandunderlinetext"><a name="dbe5" id="dbe5"></a><u>What are the current requirements for notarization of   documents?</u></span><br>
                        The Affidavit of Certification, the Affidavit of No Change, and the Personal   Networth Statement all need to be notarized. Notarization must include date,   city/county and state in which notarization was performed. It must also include   the notary registration number of the notary public, and the date of expiry of   his/her commission.&nbsp; The notary certificate must be on the same page as the   signature it is witnessing, and the DBE applicant signing the document must be   physically present with the notary and sign in his/her presence.&nbsp; The notary   must be certain of the Applicant&rsquo;s true identity. The seal should be sharp,   legible, permanent, and photographically reproducible. For further information,   click <a href="../dmbe website backup/pdf/Notary HB2058 Notice20007.pdf">here</a></li><br>
                    <li><span class="strongandunderlinetext"><a name="dbe6" id="dbe6"></a>Where can I get the <ACRONYM title="Disadvantaged Business Enterprise">DBE</acronym> application forms?</span><br>
                        They are on this website at: <ACRONYM title="Virginia Department of Transportation"><a href="dbecert.html"></a></acronym> <a href="dbecert.html"><ACRONYM title="Disadvantaged Business Enterprise">DBE</acronym> Certification</a>.</li><br>
                    <li><a name="dbe7" id="dbe7"></a> <span class="strongandunderlinetext">I'm SDB / 8(a) certified.  Do I need to complete the DBE Application Form as well?</span><br>
                        You are required to fill out the UCP application form and submit it with required documents to SBSD. Currently there is no MOU between USDOT and SDB to allow us to modify the DBE application process. </li><br>
                    <li><span class="strongandunderlinetext"><a name="dbe8" id="dbe8"></a>I'm DBE certified in my Home State.  Do I need to complete a new application for Virginia?</span><br>
                        Yes.    You need to make a new application in  Virginia. </li><br>
                    <li><span class="strongandunderlinetext"><a name="dbe9" id="dbe9"></a>Why do I need to send all these supporting documents?</span><br>
                        We have to ascertain not only who owns the company, but also who controls it on a daily basis.  Additionally, we have to check Personal Networth and Company size, in order to comply with the Federal Regulations. If we are challenged on our certification, whether by Federal auditors or a competitor company, we need the documentation on file to support our decisions.  Personal financial information is <span class="strongandunderlinetext">confidential</span> to the DBE Program and may not be disclosed otherwise by us, even in response to a Freedom of Information request.</li><br>
                    <li><a name="dbe11" id="dbe11"></a> <span class="strongandunderlinetext">What is the purpose of an Onsite Visit?</span><br>
                        The main purpose is to confirm what was written in the application and supporting documentation. It gives us a chance to see the business facilities, understand the daily management processes, and answer any remaining questions we have about a company's eligibility.  It gives the company owners the chance to talk face to face with someone who knows about the DBE Program and can answer questions or give other contact information.</li><br>
                    <li><span class="strongandunderlinetext"><a name="dbe12" id="dbe12"></a> </span><span class="strongandunderlinetext">How long does the DBE application process take?</span><br>
                        It is likely to take 90 days after we receive all the information and documentation. That includes the time for reviewing the file, making an Onsite Visit and for you to work through the Orientation materials.  Most delays are caused by incomplete information or missing documentation.</li><br>
                    <li><span class="strongandunderlinetext"><a name="dbe13" id="dbe13"></a>What business and technical assistance is available to DBE Companies?</span><br>
                        We publish a monthly VSBSD Opportunities Bulletin. VDOT also has a webpage for <a href="http://www.virginiadot.org/business/bu_ContractorResources.asp">Business Opportunities</a>. 

                        We have <a href="agency_directory.html">Regional Field Officers</a> in our Service Division.  They can help with marketing assistance, assistance with resolving business related issues, assessments to determine the strength and weaknesses of firms, preparation of bonding and loan applications, bid opportunity referrals, and help in the preparation of VDOT applications (prequalification and certification).  They can also give assistance with technical construction related problems, in reviewing and analyzing highway projects and monitoring pre and post bid activities, and individualized and group training sessions (estimating, bidding, plan reading, and financial statements and marketing).</li><br>
                </ol>
                <p><a href="#startcontent">Top</a></p>
                <h4><a name="financing"></a>Other Questions</h4>
                <ol>
                    <li><a name="f1"></a> <span class="strongandunderlinetext"><a href="#f4"><u>What is eVA?</u></a></span><br>
                        eVA is Virginia's online, electronic procurement system.  eVA is used by more than 13,000 state agency and local government buyers to announce bidding opportunities, get quotes and place orders for goods and services.  By registering with eVA, you'll become part of a community of more than 45,000 businesses offering quality goods and services to the Commonwealth.  Learn more about eVA at <a href="https://eva.virginia.gov/pages/eva-overview.htm">https://eva.virginia.gov/pages/eva-overview.htm</a>.<br>
                    </li><br>
                    <li><span class="strongandunderlinetext"><a name="f2"></a><a href="#f4"><u>What is Ariba?</u></a></span><br>
                        The Ariba system is part of eVA and used to send orders electronically.  If you select Electronic as your preferred Order Method when registering with eVA, you will be asked to create an ARIBA account. By registering with Ariba you'll also gain access to Ariba&rsquo;s vast network of both public and private buying communities, to whom you may also market your goods and services. For more information about registering with eVA and Ariba, visit <a href="https://eva.virginia.gov/pages/eva-registration-buyer-vendor.htm">https://eva.virginia.gov/pages/eva-registration-buyer-vendor.htm</a>.<br>
                    </li><br>
                    <li><a name="f3"></a> <strong><u>My business is not based in Virginia. Can I still become certified?</u></strong><br>
                        Businesses that are not incorporated or based in Virginia (called       &ldquo;foreign&rdquo; entities) are not eligible to participate in the Virginia SWaM       Procurement Initiative if their home state denies certification to       Virginia-based SWaM businesses or provide preferences for small, women- or       minority-owned businesses based in that state that is not available to       Virginia-based businesses. Otherwise,  non-Virginia businesses must satisfy the eligibility criteria of the SWaM  Program, and are required to register with the State Corporation Commission.  For your specific business type, you should register or obtain the following: </li><br>
                </ol>
                <ol start="1" type="1">
                    <ul type="square">
                        <li>Corporations: Certificate of Authority to        Transact Business in Virginia </li>
                        <li>Limited Liability Companies: Certificate of        Registration of a Foreign Limited Liability Company </li>
                        <li>Limited Partnerships: Statement of Registration        of a Foreign Limited Partnership </li>
                        <li>Partnerships: Statement of Foreign Partnership        Authority </li>
                        <li>Limited Liability Partnerships: Statement of Registration as a Foreign  Limited Liability Partnership </li>
                    </ul>
                </ol>
                <ol>
                    <li><a name="f4"></a> <span class="strongandunderlinetext">Do I have to send the  original documents?</span><br>
                        No. Do not send your  original documents, except for the signed application form.</li>
                    <li><a name="f5"></a><strong><u>If I have questions or need help?</u></strong><br>
                        Do not hesitate to contact the Department of Small Business and Supplier Diversity at (804)  786-6585. You can also contact us via email  at <a href="mailto:sbsd@sbsd.virginia.gov">sbsd@sbsd.virginia.gov</a> or read the Frequently  Asked Questions about certification on our website at <a href="http://www.dmbe.virginia.gov/">www.sbsd.virginia.gov</a>.</li>
                    <li><a name="f6" id="f6"></a><u><strong>Is there someone that I can speak to directly or  in my area?</strong></u><br>
                    The  Department of Small Business and Supplier Diversity has satellite offices across the  state staffed with individuals trained in providing assistance to individuals  interested in doing business with the Commonwealth:</li>
                </ol>
                <p><a href="#startcontent">Top</a></p>
                <p>** Please Note you will need <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe&rsquo;s Acrobat Reader</a> or <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=95e24c87-8732-48d5-8689-ab826e7b8fdf&DisplayLang=en">Microsoft Word Reader</a> in order to view some of the documents on this page.</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
