<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>Programs</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <div id="navsubpages">
                    <p><strong>Outreach Event Highlights:</strong></p>
                    <ul>
                    </ul>
                </div>
                <h1><a name="startcontent"></a>Programs </h1>
                <p>The  SBSD has four (4) core program areas: <br>
                    (1)  Certification; <br>
                    (2)  Procurement Reporting and Coordination; <br>
                    (3)  Outreach; and <br>
                    (4)  Administrative Services.<br>
                    <br>
                    The <strong>Certification</strong> Service Area is  responsible for the certification of eligible small, women-, and minority-owned  businesses to participate in the SWaM Procurement Initiative. This service area  also certifies Disadvantaged Business Enterprises (DBEs) for participation  under the Virginia Unified Certification Program (as part of the federal DBE  Program). Service Disabled Veterans are also able to obtain SWaM certification  upon receipt of their certification by the Department of Veterans Services and  by meeting the eligibility requirements of the SWaM Program.<br>
                    <br>
                    The SBSD also works collaboratively with numerous state agencies to collect  procurement data and provide statistical analyses and reports regarding the  Commonwealth&rsquo;s procurement of goods and services from SWaM vendors. The <strong>Procurement and Reporting</strong> Service Area  focuses on the two very important aspects of the SWaM Procurement Initiative:  increasing expenditures with SWaM vendors through match-making and providing  accurate statistical data.<br>
                    <br>
                    The <strong>Outreach</strong> Service Area is charged  with the following:<br>
                    &bull; Developing and  implementing a statewide marketing plan to improve the SBSD's image, and  promote its services and programs;<br>
                    &bull; Participating  in and collaborate with state agencies to promote SWaM and DBE participation; <br>
                    &bull; Providing SWaM and DBE (or eligible vendors) with certification, management  and technical assistance;<br>
                    &bull; Developing  outreach collaborations between federal, state, and local governments, and  non-governmental entities; and<br>
                    &bull; Providing  guidance and one-on-one counseling to vendors, procurement officials, agencies,  and executives.<br>
                    <br>
                    The <strong>Administrative Services</strong> area  focuses on the administration of the agency's operations, including but not  limited to daily operations, human resources, fiscal transactions and  compliance, reporting requirements, and staffing. This group handles all  Freedom of Information requests and preparation of all formal reports on behalf  of the agency.</p>
                <p><a href="#startcontent">Top</a></p>
                <p>** Please Note you will need <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe&rsquo;s Acrobat Reader</a> or <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=95e24c87-8732-48d5-8689-ab826e7b8fdf&DisplayLang=en">Microsoft Word Reader</a> in order to view some of the documents on this page. To view these files in another format, contact <A href="mailto:dmbe@sbsd.virginia.gov">sbsd@sbsd.virginia.gov</A></p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>