<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>SWaM Vendor Search</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <br>
                <h1><a name="startcontent">Small, Women and Minority (SWaM)</a> </h1>
                <p> The SWaM procurement program is a state initiative that was established to enhance business opportunities for <u><b>S</b></u>mall, <u><b>W</b></u>omen-owned, <u><b>a</b></u>nd <u><b>M</b></u>inority-owned businesses in the Commonwealth of Virginia. A SWaM business is a business that has been certified by the Virginia Department of Small Business and Supplier Diversity and is listed in the SWaM business Directory </p>
                <p>
                <ul class="notice_msg">
                    <li class="dbe_search"> To search for currently approved SWaM businesses, please <a href="http://egov1.virginia.gov/cgi-bin/search.cgi" target="_blank" title="SWaM Vendors Search by DMBE"> click </a> here. </li>
                    <li class="dbe_search"> To search for SWaM application status, please <a href="http://egov1.virginia.gov/cgi-bin/tracking.cgi" target="_blank" title="SWaM Application Search" >click</a> here. </li>
                    <li class="dbe_search"> To view the SWaM business directory, please <a href="http://egov1.virginia.gov/swam_reports/all.html" target="_blank">click </a>here. </li>
                    <li class="dbe_search">To view the SWaM Micro Business  directory, please <a href="http://www.eva.virginia.gov/library/files/buyers/Micro-business-list.xlsx">click </a>here.</li>
                    </p>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
