<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>Links</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <h1><a name="startcontent"></a>News and Press Release</h1>
                <ul>
                    <li><a href="pdf/DMBE_Newsletter_3rd_issue_(September_2011).pdf">SBSD Newsletter</a></li>
                    <li><a href="pdf/Recovery_Act_FAQs.pdf">BA 2009 Recovery Act</a></li>
                    <li><a href="http://eon.businesswire.com/portal/site/eon/permalink/?ndmViewId=news_view&newsId=20100308006143&newsLang=en">UVA's Darden Executive Education Program  scholarship</a></li>
                </ul>
                <h1><a name="startcontent"></a>Certification Partners </h1>

                <a href="pdf/DMBE _frms_applying for_WPEO_certification.pdf"> Women   Presidents' Educational Organization-DC/WBENC</a> 

                <h1><a name="startcontent"></a>Links</h1>
                <p>** All of links below will take you away from this site.</p>
                <p><a href="http://www.eva.virginia.gov/" target="_blank"></a><a href="http://www.governor.virginia.gov/"> Governor</a></p>
                <p align="left"> <a href="http://www.administration.virginia.gov/" target="_blank"> Secretary of Administration</a></p>

                <p align="left"><a href="http://www.eva.virginia.gov/" target="_blank"> State Procurement System (eVA)</a></p>


                <p align="left">Useful Business Resource Links: </p>
                <p align="left">The Procurement Technical Assistance Centers<a href="http://www.craterpdc.state.va.us/PAC/PACmain.htm">: <br>
                    </a><a href="http://www.craterptac.org/"> Crater Procurement Assistance Center</a><a href="http://ptac.sw.edu/?doing_wp_cron=1416839258.1247599124908447265625"><br>
                        Southwestern Procurement Assistance Center</a> </p>

                <a href="http://www.VaEmploy.com">Virginia Employment Commission </a>


                <p align="left"><a href="http://www.ccwa.vccs.edu/index.cfm" class="linkalign">Community College Workforce Alliance</a></p>
                <p><a href="http://www.dba.state.va.us/" class="linkalign">Virginia Department of Business Assistance</a></p>
                <p><a href="http://www.mdot.state.md.us/" class="linkalign"></a><a href="http://www.scc.virginia.gov" class="linkalign">State Corporation Commission</a></p>
                <p><a href="http://www.thembl.com/mblmain.htm" class="linkalign"></a><a href="http://www.craterpdc.state.va.us/PAC/PACmain.htm" class="linkalign">Metropolitan Washington Airports Authority</a></p>
                <p><a href="http://www.flyrichmond.com/index.php/business-opportunities" class="linkalign">Richmond International Airport</a></p>
                <p><a href="http://www.richmondgov.com/MBD/" class="linkalign">City of Richmond Office of Minority Business Enterprise</a></p>
                <p><a href="http://www.grcc.com/" class="linkalign"></a></p>
                <p><a href="http://www.sba.gov/va" class="linkalign">Small Business Administration</a></p>

                <p><a href="http://www.virginiadot.org/BUSINESS/CONST/DEFAULT.ASP" class="linkalign">Virginia Department of Transportation</a></p>
                <p><a href="http://www.mdot.state.md.us/" class="linkalign">Maryland Department of Transportation</a></p>

                <p><a href="http://www.ncdot.org/" class="linkalign">North Carolina Department of Transportation</a></p>


                <p><a href="#startcontent">Top</a></p>

            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
