<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>Special Request Forms</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <br>
                <h1><a name="startcontent"></a>Forms </h1>
                <p><a href="pdf/SWaM_Notice of Change.pdf">SWaM Notice of Change</a></p>
                <p><a href="pdf/Request_for_Informal_Hearing_Form.pdf">Request for Informal Hearing</a></p>
                <p><a href="pdf/request_for_additional_SWaM_Type.pdf">Request for Additional Certified SWaM Type</a> </p>
                <p><a href="pdf/Request_for_Event_Speaker_Form.pdf">Request Form for Event Speaker or Presentation</a></p>
                <p><a href="pdf/SWaM_Certification_Logo_Request.pdf">Request for SBSD-Certified SWaM Logo</a></p>
                <p><a href="pdf/weekly_agency_swam_report.pdf">Weekly Agency <ACRONYM title="Small, Women and Minority">SWaM</acronym> Reporting Form (PDF)</a> | <a href="documents/weekly_agency_swam_report.doc">(Word)</a><br>
                    <span class="linkdescription">Weekly Small, Women and Minority (SWAM) activities report.</span></p>
                <p><a href="documents/Request_for_Event_Speaker_Form.doc"></a><a href="pdf/Third_Party_Complaint_Process_Form.pdf">Third Party Challenges or Complaints</a><br>
                    <span class="linkdescription">To be used  to file complaint regarding a SBSD-certified business </span></p>
                <p><a href="pdf/request_for_DBE_Documents.pdf">Request copies of DBE file by Company Owners </a></p>
                <p>*** Please Note you will need <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe&rsquo;s Acrobat Reader</a> or <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=95e24c87-8732-48d5-8689-ab826e7b8fdf&DisplayLang=en">Microsoft Word Reader</a> in order to view some of the documents on this page.</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
