<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>DBE Vendor Search</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <h1><a name="startcontent"></a>Disadvantaged Business Enterprise (DBE) </h1>
                <p> The Virginia Unified Certification Program includes two certifying agencies: Virginia Department of Small Business and Supplier Diversity (DSBSD)
                    and the Metropolitan Washington Airport Authority (MWAA). Federal DBE certification by either agency is fully accepted
                    throughout Virginia. </p>
                <ul class="notice_msg">
                    <li class="dbe_search">Due to the DBE search function experiencing some technical bugs, it has been temporarily removed. To search for DBE vendors certified by DSBSD and MWAA, please use the full directory below, and use (Control+F) on your keyboard, for PC users, or (Command+ F) on your keyboard, for Mac users, to search the directory.</li>
                    <li class="dbe_search"> To view the Vendor Directory of DBEs certified by DSBSD and MWAA, please <a href="http://egov1.virginia.gov/swam_reports/dbe_listing.htm" target="_blank">click</a> here. </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
