<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>Search Results</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <div id="content"></div>
                <script>
                    (function () {
                        var cx = '004066494574841341068:5o_snspniyk';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:searchresults-only></gcse:searchresults-only>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>