<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>About Us</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <ul>
                    <li><a href="directormessage.html" >Message from the Director</a></li>
                    <li><a href="agency_directory.html">Agency Directory</a></li>
                    <li><a href="pdf/SWaM Success Stories.pdf">Success Stories</a></li>      
                </ul>
                <p>Welcome to the Virginia Department of Small Business and Supplier Diversity&rsquo;s (or commonly known as &ldquo;SBSD&rdquo;) website! We hope  you find the information we&rsquo;re providing to be helpful and of value to your  business. <br>
                    Did you know that approximately 95% of Virginia businesses are small businesses and that Small,  Women- and Minority-owned businesses are the source of most new jobs in Virginia?&nbsp; Unfortunately for these hardworking, talented  entrepreneurs, growing a successful business is not an easy task. For most  small businesses, opportunities and capital funding&mdash;the lifeblood of any  successful business&mdash;are significantly more difficult to access. <br>
                    SBSD is the state agency dedicated to  enhancing the participation of our small, women- and minority-owned businesses  in Virginia&rsquo;s  procurement opportunities. SBSD is responsible for the administration of two  certification programs: the Small, Women- and Minority-owned Businesses under Virginia&rsquo;s &ldquo;<strong>SWaM</strong>&rdquo; Procurement Initiative and the  federal U.S. Department of Transportation&rsquo;s Disadvantaged Business Enterprise  (&ldquo;<strong>DBE</strong>&rdquo;) Program. SBSD also provides  support to our certified businesses through business development and  procurement advocacy programs, in cooperation with other agencies and  departments.</p>
                <p><strong>Mission</strong><strong> and Key  Goals</strong><br>
                    <br>
                    The mission of the Department of Small Business and Supplier Diversity is to  promote access to the Commonwealth   of Virginia&rsquo;s contracting  opportunities and ensure fairness in the procurement process. <br>
                    SBSD has two key goals: (1) increase the number of certified businesses  in the Commonwealth, and (2) increase the total dollars allocated to SWaM  vendors as a percentage of all discretionary spend or contract dollars.&nbsp; For a more detailed look at SBSD&rsquo;s  performance measures, visit the Commonwealth&rsquo;s <em>VA Performs</em> website at <a href="http://www.vaperforms.virginia.gov/">www.vaperforms.virginia.gov/</a> and go to SBSD&rsquo;s performance measures.</p>
                <p><strong>History and Statutory Authority</strong><br>
                    <br>
                    The  Department of Small Business and Supplier Diversity was first established by the General  Assembly of Virginia in 1975 at Virginia  State University  in Petersburg, Virginia. The General Assembly at that time recognized  the importance of providing equal opportunity for participation in the  purchasing policies and procedures of the Commonwealth. They noted: &ldquo;&hellip;it is  essential that opportunity be provided for participation in our free enterprise  system by socially and economically disadvantaged persons&hellip;improve the  functioning of our economy and realize the great potential of the  Commonwealth&hellip;.&rdquo;<br>
                    <br>
                    As with  all state agencies, the foundation for the Department of Minority Business  Enterprise lies in the Code of Virginia&nbsp;  Additionally, the Virginia Public Procurement Act (VPPA) and Executive  Orders 29 (2002), 103 (2005), and 10 (2006) in part outline key statutes,  policies, procedures, initiatives, and responsibilities of the department.  According to the Code of Virginia <em>(</em><a href="http://leg1.state.va.us/cgi-bin/legp504.exe?000+cod+2.2-1402">&sect;2.2-1402</a><em>),</em> the duties of DMBE include:<br>
                    <br>
                    1. Coordinate as consistent  with law the plans, programs and operations of the state government that affect  or may contribute to the establishment, preservation, and strengthening of  minority business enterprise. <br><br>
                    2. Promote the mobilization  of activities and resources of state and local governments, businesses and  trade associations, universities, foundations, professional organizations, and  volunteer and other groups towards the growth of minority business enterprises,  and facilitate the coordination of the efforts of these groups with those of  state departments and agencies. <br><br>
                    3. Establish a center for  the development, collection, summarization, and dissemination of information  that will be helpful to persons and organizations throughout the nation in  undertaking or promoting the establishment and successful operation of minority  business enterprise. <br><br>
                    4. Within constraints of  law and availability of funds, and according to the Director's discretion,  provide technical and management assistance to minority business enterprises,  and defray all or part of the costs of pilot or demonstration projects that are  designed to overcome the special problems of minority business enterprises. <br><br>
                    5. Manage the Capital  Access Fund for Disadvantaged Businesses created pursuant to &sect; <a href="http://leg1.state.va.us/cgi-bin/legp504.exe?000+cod+2.2-2311">2.2-2311</a>,  and, in cooperation with the Small Business Financing Authority, determine the  qualifications, terms, and conditions for the use of such Fund.<br><br>
                    The Code of Virginia established  the Department of Minority Business Enterprise within the Office of the  Governor and stipulates that the Governor shall have the authority to appoint  an agency director to serve at the Governor&rsquo;s pleasure. The director serves as  a special assistant to the Governor for minority business development.  Additionally, the Codestates that  the department must have its main office in Richmond and may have branch offices as may  be necessary as determined by the director, subject to the approval of the  Secretary of Commerce and Trade.&nbsp; The  Code of Virginia <em>(</em>&sect;2.2.-204<em>)</em> assigns the Department of Minority  Business Enterprise to the Secretary of Commerce and Trade and also permits the  Governor, by executive order, to assign any agency listed in this section to  another secretariat.<br><br>
                    In the Commonwealth of Virginia, the Secretary of  Administration oversees the Department of General Services, which generally  coordinates all state procurement.&nbsp;  Governor Timothy Kaine, recognizing the intricacies of DMBE in promoting  participation and increasing utilization of Small, Women, and Minority-Owned  businesses and Disadvantaged Business Enterprises in the Commonwealth&rsquo;s  procurement activities, signed Executive Order 10 (2006) on February 3,  2006.&nbsp; This action administratively  transferred the responsibility for the Department of Minority Business  Enterprise from the Secretary of Commerce and Trade to the Secretary of  Administration and effectively consolidated the state&rsquo;s procurement efforts  under one secretariat.&nbsp; <br><br>
                    The regulations  which govern the SWaM Certification Program are found in the Virginia  Administrative Code (<a href="http://law.lis.virginia.gov/admincode/title7/agency10/chapter21/">7 VAC 10-21</a>). The regulations which govern the  certification of DBEs are found in the U.S. Code of Federal Regulations (49 CFR  Parts 23 and 26).</p>
                <p>** Please Note you will need <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe&rsquo;s Acrobat Reader</a> or <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=95e24c87-8732-48d5-8689-ab826e7b8fdf&DisplayLang=en">Microsoft Word Reader</a> in order to view some of the documents on this page.</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>