<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>DBE Certification</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <p style="color: red; font-size: medium; text-align: center;"><strong>SBSD HAS MOVED</strong><br />Please note the new address at the bottom of the page.<br />
                </p>

                <h1><a name="startcontent"></a> Disadvantaged Business Enterprise (DBE)</h1>
                <P>The <strong>D</strong>isadvantaged <strong>B</strong>usiness <strong>E</strong>nterprise certification program is a Federal  program. The purpose is to increase the participation of certified DBEs in projects  funded by the US Department of Transportation and other federal sectors. Projects typically include heavy construction, such as building and designing roads, bridges,  railroads,  ports, and airports. </P>
                <P>The Program is governed by the U.S. Federal Regulations in 49 CFR Parts 26 and 23. </P>
                <P>&nbsp;</P>
                <P>The Virginia Unified Certification Program includes two  certifying agencies:</P>
                <ul>
                    <li>The Department of Small Business and Supplier Diversity (DSBSD) </li>
                    <li>The  Metropolitan Washington Airport Authority (MWAA)</li>
                </ul>
                <P><strong>There is no  need  to submit an application to both agencies.</strong> Federal DBE certification by either agency is fully accepted throughout Virginia. </P>
                <P>&nbsp;</P>
                <p><span class="style5"><strong>If you plan to participate  in the procurement process of the Commonwealth of Virginia, you need to apply  for SWaM certification, not DBE certification. </strong> To apply for SWaM certification, please click<a href="swamcert.html"> here.</a></span></p>
                <p>&nbsp;</p>
                <p>The DBE certification process differs depending on if you are an in-state or out-of-state firm. </p>
                <h2>Out-of-State firms</h2>
                <P> If you have never applied to either of Virginia's   SWaM or DBE programs, you will first need to proceed to <a href="#SectionA"><span class="style7">Section A</span></a> to generate a tracking number for your firm. Otherwise, you will use the SWaM or DBE tracking number that you were  previously assigned.</P>
                <p>All out-of-state applicants must submit:</P>
                <ol>
                    <li>
                        <p>A complete copy of the DBE application form, all supporting documents, and any other information you have submitted to your home state or any other state related to your firm's certification. This includes affidavits of no change, updated tax documents, and any notices of changes that you have submitted to your home state, as well as any correspondence you have had with your home state's UCP or any other recipient concerning your application or status as a DBE firm.</p>
                    </li>
                    <li>
                        <p>You must also provide  any notices or correspondence from states other than your home state relating to your status as an applicant or certified DBE in those states. For example, if you have been denied certification or decertified in State C, or subject to a decertification action there, you must inform us of this fact and provide all documentation concerning this action.</p>
                    </li>
                    <li>
                        <p>If you have filed a certification appeal with US DOT, you must inform us of this fact and provide your letter of appeal and DOT's response.</p>
                    </li>
                    <li>
                        <p>You must submit an affidavit sworn to by the firm's owners before a person who is authorized by State law to administer oaths or an unsworn declaration executed under penalty of perjury of the laws of the United States. This affidavit must affirm that you have submitted all the information required by items 1-3 above and the information is complete and, in the case of the information required item 1, is an identical copy of the information submitted to your home state. The Affidavit form can be found below:</p>
                        <ul>
                            <li><strong><a href="pdf/DBE_Interstate_Certification_Affidavit.pdf">Interstate Certification Affidavit (PDF)</a> </strong></li>
                        </ul>
                    </li>
                </ol>
                <h2>In-state firms</h2>
                <h4>The DBE Certification process has several steps:</h4>
                <ol>
                    <li> If you have not previously applied online for DBE or SWaM certification,  please go to <a href="#SectionA"><span class="style1"><strong>Section A</strong></span></a>. Otherwise go to <a href="#SectionB"><span class="style3">Section B</span></a>. </li>
                    <li>Complete the DBE Uniform Certification Application Form,  and the Personal Networth Statement. </li>
                    <li> Get the Application Form (Affidavit of Certification) and the Personal Networth Statement <span class="strongandunderlinetext"><a href="pdf/Notary HB2058 Notice20007.pdf">notarized</a></span></li>
                    <li> Collect copies of the Supporting Documentation on the checklist at the end of the Application form. </li>
                    <li> Send the Application forms package, plus the supporting documents in to us at the address at the bottom of this page.</li>
                    <li>Once we have a complete file, we will arrange for an Onsite Visit to your Company </li>
                </ol>
                <blockquote>
                    <p>If you need assistance in applying for the DBE certification, please contact our regional offices for appointments with the Business Development Specialists. <a href="contactus.html">Click</a> here for office contact information. </p>
                    <h4><a name="SectionA"><span class="style1">Section A</span></a><br>
                        New DBE Application (Firms have <u>not</u> previously <em>applied,</em> whether the process was completed or not, online at the DSBSD website for  SWaM <em>or</em> DBE certification):</h4>
                    <p><a href="https://egov1.virginia.gov/mbe_cert/cgi-bin/dbe_tracking_num.cgi">Link to Application Tracking Number and DBE Uniform Certification Application</a></p>
                    <p><a href="pdf/DBE_PNW_Statement_11-3-2014.pdf">Personal Financial Networth Statement (fillable PDF</a><a href="pdf/personalfinanstat.pdf">)<br/>
                        </a><span class="linkdescription">Includes instructions for completing the personal financial statement.</span></p>
                    <p><a name="SectionB"><strong><span class="style4">Section B</span></strong></a><br>
                        DBE Application (Firms have    previously <em>applied</em> online at the DSBSD website for SWaM <em>or</em> DBE certification):</strong></p>
                    <p><a href="https://egov1.virgina.gov/mbe_cert/cgi-bin/dbe_tracking_num.cgi"></a><a href="pdf/DBE_Certification_Application_11-3-2014.pdf">DBE Uniform Certification Application (fillable PDF)</a></p>
                    <p><a href="pdf/DBE_PNW_Statement_11-3-2014.pdf">Personal Financial Networth Statement (fillable PDF</a><a href="pdf/personalfinanstat.pdf">)</a><br>
                        <span class="linkdescription">Includes instructions for completing the personal financial statement.</span></p>
                    <p>&nbsp;</p>
                </blockquote>
                <h2> Annual Submission Requirement for Currently-Approved DBEs:</h2>
                <blockquote>
                    <p>Once you are certified as a DBE, you are required to submit, annually, the following documents  to our office prior to your anniversary date. We aspire to send all certified vendors an email reminder  60 days prior to your anniversary date. However, this is not always possible and should not be relied upon. We strongly recommend that your DBE anniversary date be added to your internal company calendar to keep track of the date by which your annual update is due. Please keep your email address current with us. </p>
                </blockquote>
                <ol>
                    <li> If there are no changes: <br>
                        <a href="pdf/Affidavit_of_No_Change.pdf">Virginia Unified Certification Program Affidavit Of No Change (fillable PDF)</a> <br>
                        <br>
                        <strong>-OR-</strong> <br>
                        <br>
                        See the "Notification of Change Requirement" below for the form and documentation to submit if there have been changes <br>
                        <br>
                    </li>
                    <li>Last year's <u>signed and dated</u> Federal business taxes for your firm <u>and ALL affiliates</u>. If your firm and/or any affiliates' taxes are filed under your personal taxes, then the signed and dated Federal personal taxes must be submitted as well. Please do not send State tax returns. </li>
                </ol>

                <h2> Notification of Change Requirement for Currently-Approved DBEs:</h2>
                <blockquote>
                    <p>Once you are certified as a DBE, you must inform us in writing of any change in circumstances affecting firm's ability to meet size, disadvantaged status, ownership, or control requirements of the DBE program or any material change in the information provided in your application form. You <strong>must</strong> provide the written notification <u>within 30 days</u> of the occurrence of the change. </p>
                </blockquote>
                <ol>
                    <li>

                        If there have been changes to firm's ownership and/or control, other signifiant changes, or firm is requesting additional NAICS codes, submit:<br> <a href="pdf/Notice_of_Change.pdf">Virginia Unified Certification Program Notice of Change (fillable PDF)</a> 

                        <br><br>
                    </li>
                    <li>You <strong>must</strong> attach supporting documentation describing in detail the nature of
                        any changes and/or supporting the addition of your request for any new NAICS codes. </li>
                </ol>

                <h2>Information</strong></h2>
                <p><ACRONYM title="Disadvantaged Business Enterprise"><a href="http://www.virginiadot.org/business/const/prequal.asp">VDOT Prequalification Program</a></acronym></span><span class="linkdescription"><br>
                    VDOT requires prospective  bidders to be prequalified for all construction and maintenance contracts. The  contractor prequalification is also necessary for subcontractors. </span></p>
                <p><ACRONYM title="Disadvantaged Business Enterprise"><a href="http://www.ecfr.gov/cgi-bin/text-idx?SID=f8181cd8c1fc90c9f6ff7ef66df2da6d&mc=true&node=pt49.1.26&rgn=div5">Electronic Code of Federal  Regulations</a></acronym><a href="http://cbt.vi.virginia.gov/dmbe/2007/2007Orientation_files/Default.htm#nopreload=1"></a><br>
                <span class="linkdescription">Title 49 &ndash; Transportation,  Part 26 &ndash; Participation by Disadvantaged Business Enterprises in Department of  Transportation Financial Assistance Programs. </span></p>
                <p><a href="pdf/request_for_DBE_Documents.pdf">Request for copies of DBE file by Company Owners </a></p>
                <p>** Please Note you will need <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe&rsquo;s Acrobat Reader (.pdf) </a> or <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=95e24c87-8732-48d5-8689-ab826e7b8fdf&DisplayLang=en">Microsoft Word Reader  (.doc)</a> in order to view some of the documents on this page. To view these files in another format, contact <A href="mailto:dmbe@sbsd.virginia.gov">sbsd@sbsd.virginia.gov</A></p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
