<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>Small Business Finance Authority</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <br>
                <h1><a name="startcontent"></a>Virginia Small Business Finance Authority (VSBFA) </h1>

                <p>The Virginia Small Business Finance Authority (VSBFA) is the Commonwealth of Virginia's economic development and small business financing arm. We help Virginia's existing businesses and those businesses that are seeking to come to Virginia through our extensive portfolio of financing programs. Although we do not offer grants, we add value by helping Virginia's financial institutions offer business loans that they might not be able to offer without our assistance. Whether you are seeking to purchase a building or some equipment, whether your business is for-profit or a qualifying 501 (c) 3 not-for-profit, whether it is a start up or has been in business for many years, the VSBFA is happy to talk with you and your bank about your business' credit needs. Send us an e-mail or give us a call today.</p>
                <p>For more information, go to <a href="http://www.vabankers.org/VSBFA" target="_blank"> VSBFA's minisite</a>. </p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

