<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background" style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2 style="color: white;border-bottom: none;">Business Information Service</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-defaultcustom_panel">
            <div class="panel-body custom_body">
                <br>
                <br>
                <h1><a name="startcontent"></a>Business Information Services (BIS) </h1>
                <p>VDBA's Business Information Services (BIS) Division houses a number of programs designed to assist entrepreneurs and existing business owners in obtaining the information they need to establish and grow their businesses. For those considering starting a business, our Business One Stop online system, free Entrepreneur Express seminars and &quot;Starting a Business&quot; business plan software can help! For owners of existing Virginia businesses, our free Growing Sales seminars and One-on-One technical assistance sessions offer your business the tools you need to grow. Regardless of your company's age, size or industry, Business Information Services has a program to help you.</p>
                <li class="dbe_search"> <a href="http://bos.virginia.gov" target="_blank">Business One Stop</a> helps entrepreneurs determine the new business formation requirements for their specific business. This electronic portal accelerates new business formation by minimizing confusing processes and duplicative paperwork.</li>
                <br>
                <li class="dbe_search"> Virginia Business Information Center handles contacts with business owners by phone, email and live chat. Our counselors are knowledgeable about all state programs impacting businesses. Email: <a href="vbic@vdba.virginia.gov">vbic@vdba.virginia.gov</a> or call the Hotline:<br>
                    <strong>804-371-0438</strong>.</li></p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

