
<div class="col-lg-12 site-footer">
    <footer style="margin-top: 10px;">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright &copy;2014, All Rights Reserved<br>
                    Virginia Department of Small Business and Supplier Diversity<br>
                    101 N. 14th Street, 11th Floor
                    Richmond, VA 23219
                    <br>
                    Phone: (804) 786-6585<br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="text-align: right;">
                <a href="webpolicy.html">Web Policy</a> | <a href="contactus.html">Contact Us</a> <br>
                <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=95e24c87-8732-48d5-8689-ab826e7b8fdf&DisplayLang=en">Word Viewer (.doc)</a> | <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe Acrobat Reader (.pdf)</a> | <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=c8378bf4-996c-4569-b547-75edbd03aaf0&displaylang=EN">Excel Viewer (.xls)</a> | <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=428d5727-43ab-4f24-90b7-a94784af71a4&DisplayLang=en">PowerPoint Viewer (.ppt)</a> | <a href="http://www.winzip.com/ddchomea.htm">WinZip (.zip)</a> <br>
            </div>
        </div>
    </footer>
</div>