<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="../sbsd.styles/images/vagov_logo_black.png" alt="Virginia.gov" class="navbar-brand">
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li><a class="navbar_custom_style secondLi" href="/agencies/">Agencies</a></li>
                <li><a class="navbar_custom_style " href="https://governor.virginia.gov/" target="_blank">Governor</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar_custom_style" href="https://governor.virginia.gov/" target="_blank">Search Virginia.gov</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar navbar-default second_nav_bar_style">
    <ul class="nav navbar-nav hidden-xs custom_navbar">
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" id="menuOpen" onclick="openMenu()" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </a>
        </li>
    </ul>
    <!--<div class="line"></div>-->
    <div class="navbar-header ">
        <button type="button" class="navbar-toggle visible-xs-block resposiveMenuBar" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar blueBackground"></span>
            <span class="icon-bar blueBackground"></span>
            <span class="icon-bar blueBackground"></span>
        </button>
        <a onclick="mobileMenuHide()" class="navbar-brand sbsd_brand_img" href="#"><img width="120px" src="../sbsd.styles/images/sbsd.png" alt="Virginia.gov"></a>
    </div>
    <!--<div class="line"></div>-->
    <h3 class="navbar-text title custom_title">Department of Small Business and Supplier Diversity</h3> 
    <form class="navbar-form pull-right hidden-xs nav_bar_search_form" name="gSearch" action="#searchResults" role="search">
        <gcse:searchbox-only></gcse:searchbox-only>
    </form>

    <div class = "collapse navbar-collapse hidden-lg hidden-sm hidden-md blueBackground" id = "bs-example-navbar-collapse-2">
        <ul class = "nav navbar-nav">
            <li class="dropdown custom_dropdown">
                <a href = "#" class = "dropdown-toggle custom_dropdown" data-toggle = "dropdown">
                    Group 1 
                    <b class = "caret"></b>
                </a>
                <ul class = "dropdown-menu">
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/swamcert">SWaM Certification</a></li>
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/dbecert">DBE Certification</a></li>
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/forms">Special Request Form</a></li>  
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/bis">Business Information Services</a></li>
                </ul>
            </li>
            <li class="dropdown custom_dropdown">
                <a href = "#" class = "dropdown-toggle custom_dropdown" data-toggle = "dropdown">
                    Group 2
                    <b class = "caret"></b>
                </a>
                <ul class = "dropdown-menu">
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/swampurchasingandexpenditure">SWaM Reports</a></li>
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/reports_newsletters">Reports</a></li>
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/VSBFA">Small Business Finance Authority</a></li>
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/links">News and Resource Links</a></li>
                </ul>
            </li>
            <li class="dropdown custom_dropdown">
                <a href = "#" class = "dropdown-toggle custom_dropdown" data-toggle = "dropdown">
                    Group 3 
                    <b class = "caret"></b>
                </a>
                <ul class = "dropdown-menu">
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/SWaMSearchSub">SWaM Vendor Search</a></li>  
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/DBESearchSub">DBE Vendor Search</a></li>  
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/bid">Procurement and Business Opportunities</a></li>
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/faq">Frequently Asked question</a></li>
                </ul>
            </li>
            <li class="dropdown custom_dropdown">
                <a href = "#" class = "dropdown-toggle custom_dropdown" data-toggle = "dropdown">
                    Group 4 
                    <b class = "caret"></b>
                </a>
                <ul class = "dropdown-menu">
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/programs">Programs</a></li>  
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/contactus">Eight Locations Across the Commonwealth to Serve you</a></li>  
                    <li class = "divider"></li>
                    <li><a onclick="mobileMenuHide()" id="mobileMenuLink" href="#/aboutus">About Us</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right custom_search" name="gSearch" action="#searchResults" role="search">
            <gcse:searchbox-only></gcse:searchbox-only>
        </form>
    </div>
</nav>
<div class="full_screen_panel hidden-xs">
    <div class="nav_title">
        <h2>Group 1</h2>
    </div>
    <div class="nav_content_links">
        <ul>
            <li><a onclick="closeMenu()" href="#/swamcert">SWaM Certification</a></li>
            <li><a onclick="closeMenu()" href="#/dbecert">DBE Certification</a></li>
            <li><a onclick="closeMenu()" href="#/forms">Special Request Form</a></li>
            <li><a onclick="closeMenu()" href="#/bis">Business Information Services</a></li>
        </ul>
    </div>
    <div class="nav_title">
        <h2>Group 2</h2>
    </div>
    <div class="nav_content_links">
        <ul>
            <li><a onclick="closeMenu()" href="#/swampurchasingandexpenditure">SWaM Reports</a></li>
            <li><a onclick="closeMenu()" href="#/reports_newsletters">Reports</a></li>
            <li><a onclick="closeMenu()" href="#/VSBFA">Small Business Finance Authority</a></li>
            <li><a onclick="closeMenu()" href="#/links">News and Resource Links</a></li>
        </ul>
    </div>
    <div class="nav_title">
        <h2>Group 3</h2>
    </div>
    <div class="nav_content_links">
        <ul>
            <li><a onclick="closeMenu()" href="#/SWaMSearchSub">SWaM Vendor Search</a></li>
            <li><a onclick="closeMenu()" href="#/DBESearchSub">DBE Vendor Search</a></li>
            <li><a onclick="closeMenu()" href="#/bid">Procurement and Business Opportunities</a></li>
            <li><a onclick="closeMenu()" href="#/faq">Frequently Asked question</a></li>
        </ul>
    </div>
    <div class="nav_title">
        <h2>Group 4</h2>
    </div>
    <div class="nav_content_links">
        <ul>
            <li><a onclick="closeMenu()" href="#/programs">Programs</a></li>  
            <li><a onclick="closeMenu()" href="#/contactus">Eight Locations Across the Commonwealth to Serve you</a></li>
            <li><a onclick="closeMenu()" href="#/aboutus">About Us</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var menuOpen = true;
    function openMenu() {
        if (menuOpen) {
            $(".full_screen_panel").fadeIn();
            $(".full_screen_panel").css('left', '0px');
            $("#menuOpen").addClass("anim");
            $("#menuOpen i").removeClass("fa-bars");
            $("#menuOpen i").addClass("fa-times");
            menuOpen = false;
        } else {
            $(".full_screen_panel").fadeOut();
            $(".full_screen_panel").css('left', '-100%');
            $("#menuOpen").removeClass("anim");
            $("#menuOpen i").removeClass("fa-times");
            $("#menuOpen i").addClass("fa-bars");
            menuOpen = true;
        }
    }
    function closeMenu() {
        $(".full_screen_panel").fadeOut();
        $(".full_screen_panel").css('left', '-100%');
        $("#menuOpen").removeClass("anim");
        $("#menuOpen i").removeClass("fa-times");
        $("#menuOpen i").addClass("fa-bars");
        menuOpen = true;
    }
    function mobileMenuHide() {
        $("#bs-example-navbar-collapse-2").removeClass("in");
    }

  (function() {
    var cx = '004066494574841341068:5o_snspniyk';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();

</script>

