<div class="row" >
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body" style="background: #1c1c1c;" id="headlines">
                <h2>What's Hot </h2>
                <br>
                <div id="whatnewslinks">
                    <p><a class="whiteColor" href="http://egov1.virginia.gov/cgi-bin/tracking.cgi" target="_blank"><ACRONYM title="Small, Women and Minority">SWaM</acronym> Certification Application Status</a></p>
                    <p><a class="whiteColor" href="http://egov1.virginia.gov/swam_reports/all.html" target="_blank"><ACRONYM title="Small, Women and Minority">SWaM</acronym> Vendor Directory</a> </p>
                    <p><a class="whiteColor" href="dbecert.html"> <ACRONYM title="Disadvantaged Business Enterprise">DBE</acronym> Certification Forms and Process</a> </p>
                    <p><a class="whiteColor" href="http://egov1.virginia.gov/swam_reports/dbe_listing.htm" target="_blank"><ACRONYM title="Disadvantaged Business Enterprise">DBE</acronym></a><a href="http://egov1.virginia.gov/swam_reports/dbe_listing.htm" target="_blank">Vendor Directory of </a><a href="http://egov1.virginia.gov/swam_reports/dbe_listing.htm" target="_blank"><ACRONYM title="Disadvantaged Business Enterprise">VA Unified Certification Program</acronym></a></p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body" style="background: #1c1c1c;" id="headlines">
                <h2>Quick Links</h2>
                <br>
                <div id="whatnewslinks">
                    <p><a class="whiteColor" href="https://logi.epro.cgipdc.com/External/rdPage.aspx?rdReport=Public.Reports.Report9004_Data" target="_blank">National Institute of Governmental Purchasing (NIGP) Commodity Codes</a></p>
                    <p><a class="whiteColor" href="http://www.census.gov/eos/www/naics/" target="_blank"> North American Industry Classification System (NAICS) Codes</a> </p>
                    <p><a class="whiteColor" href="http://www.dnb.com/get-a-duns-number.html">  DUNS Number</a> </p>
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>