@font-face {
    font-family: Akkurat-Bold-S;
    src: url(../fonts/lineto-akkurat-bold.eot);
    src: url(../fonts/lineto-akkurat-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/lineto-akkurat-bold.woff2) format("woff2"), url(../fonts/lineto-akkurat-bold.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Akkurat-Regular-S;
    src: url(../fonts/lineto-akkurat-regular.eot);
    src: url(../fonts/lineto-akkurat-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/lineto-akkurat-regular.woff2) format("woff2"), url(../fonts/lineto-akkurat-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
body {
    background: #FFF;
    font-family: "Akkurat-Regular-S";
}
a:link
{
    text-decoration: none;
    color: #164DC1;
}
a {
    cursor: pointer;
}

.navbar_custom_style{
    text-decoration: none !important;
    color:#fff !important;
    font-size: 13px !important;
}
.second_nav_bar_style{
    margin-top: 47px;
    margin-bottom: 0px;
    border-bottom: 0px;
    background: #fff;
}
#menuOpen{
    font-size: 40px;
    color: rgba(3, 64, 193, 0.95);
}
#common-banner{
    position: absolute;
    width: 100%;
    background: #1c1c1c;
    height: 48px;
}

#common-banner .tagline img{
    height: 20px;
    padding-left: 20px;
    margin-top: -2px;
}

#common-banner .tagline span{
    position: relative;
    top: -6px;
    left: 13px;  
    font-size: 13px;
    padding-right: 10px;
    font-weight: 100;
}

#common-banner .tagline span a{
    text-decoration: none;
    color:#fff;
}

#common-banner span{
    position: absolute;
    right: 12px;
    top: 12px;

}

#common-banner span a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}
#common-banner .tagline span:last-child{
    padding-left: 10px;
    border-left: 1px solid #fff;
}
#headlines a:link
{
    color:white;
    text-decoration: none;
}
#headlines h2
{
    color:white;
}
.panel1 {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    margin-top: 0%;
    background-color: rgba(3,64,193,.95);
    /* ul */
    /* Ninja Button styles */
    /* Ninja Button */
    /* Ninja Button Active */
}
.panel1 ul {
    list-style-type: none;
    //position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    //top: 50%;
    //left: 60px;
    //right: 60px;
    height: auto;
    text-align: left;
    /* li & a */
}
.panel1 ul li,
.panel1 ul a {

    display: block;
    float: left;
    //width: 100%;
    line-height: 1.4;
    padding: 0;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.panel1 ul li.menu-label {
    font-size: 16px;
    margin: 30px 0 10px 0;
    text-transform: lowercase;
}
.panel1 ul li.menu-label:first-child {
    margin-top: 0;
}
.panel1 ul a {
    font-size: 22px;
    text-transform: Capitalize;
    padding-bottom: 15px;
}
.panel1 ul li.menu-contacts a {
    font-size: 16px;
    text-transform: inherit;
}
.panel1 .ninja-btn {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    display: inline-block;
    float: left;
    cursor: pointer;
    padding: 34.28571429px 30px;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 30px;
    height: 20.18181818px;
}
.panel1 .ninja-btn span,
.panel1 .ninja-btn span:before,
.panel1 .ninja-btn span:after {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    width: 30px;
    height: 2px;
}
.panel1 .ninja-btn span {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 9.09090909px;
}
.panel1 .ninja-btn span:before,
.panel1 .ninja-btn span:after {
    content: "";
    position: absolute;
    left: 0;
}
.panel1 .ninja-btn span:before {
    top: -9.09090909px;
}
.panel1 .ninja-btn span:after {
    top: 9.09090909px;
}
.panel1 .ninja-btn.active span {
    background-color: transparent;
}
.panel1 .ninja-btn.active span:before,
.panel1 .ninja-btn.active span:after {
    top: 0;
}
.panel1 .ninja-btn.active span:before {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
}
.panel1 .ninja-btn.active span:after {
    -webkit-transition-delay: 0.09s;
    -moz-transition-delay: 0.09s;
    -o-transition-delay: 0.09s;
    -msa-transition-delay: 0.09s;
    transition-delay: 0.09s;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}
/* Panel */
.panel-overlay {
    position: fixed;
    top: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
/* overlay */
.panel-white {
    background-color: rgba(3,64,193,.95);
    /* ul */
}
.panel-white ul {
    /* li */
}
.panel-white ul li,
.panel-white ul a {
    padding-bottom: 15px;
    color: #fff;
}
.panel-white ul li a:hover,
.panel-white ul li.active a {
    color: #fff;
}
.panel-white .ninja-btn {
    background-color: #FFFFFF;
}
.panel-white .ninja-btn span,
.panel-white .ninja-btn span:before,
.panel-white .ninja-btn span:after {
    background-color: #093a61;
}
/* panel white */
.panel-black {
    background-color: #000000;
    /* ul */
}
.panel-black ul {
    /* li */
}
.panel-black ul li,
.panel-black ul a {
    color: rgba(255, 255, 255, 0.5);
}
.panel-black ul li a:hover,
.panel-black ul li.active a {
    color: #FFFFFF;
}
.panel-black .ninja-btn {
    background-color: #000000;
}
.panel-black .ninja-btn span,
.panel-black .ninja-btn span:before,
.panel-black .ninja-btn span:after {
    background-color: #007aff;
}
/* panel black */
.panel-brand {
    background-color: #007aff;
    /* ul */
    /*
    .ninja-btn.active span:before,
    .ninja-btn.active span:after {
      background-color: rgba( 0, 0, 0, 0.50 );
    }*/
}
.panel-brand ul {
    /* li */
}
.panel-brand ul li,
.panel-brand ul a {
    color: rgba(0, 0, 0, 0.5);
}
.panel-brand ul li a:hover,
.panel-brand ul li.active a {
    color: #FFFFFF;
}
.panel-brand .ninja-btn {
    background-color: #007aff;
}
.panel-brand .ninja-btn span,
.panel-brand .ninja-btn span:before,
.panel-brand .ninja-btn span:after {
    background-color: #FFFFFF;
}
/* panel brand */
.panel1.left {
    left: -100%;
}
.panel1.left .ninja-btn {
    left: 100%;
    top: 48px;
}
/* Panel Left Active */
.panel1.left.active {
    left: 0;
}
.panel1.left.active .ninja-btn {
    left: 100%;
    margin-left: -90px;
}
/* Panel Menu Active */
.panel1.right {
    right: -450px;
}
.panel1.right .ninja-btn {
    right: 100%;
}
/* Panel Right Active */
.panel1.right.active {
    right: 0;
}
.panel1.right.active .ninja-btn {
    right: 100%;
    margin-right: -90px;
}
/* Panel Menu Active */
.panel-white ul {
    position: absolute;
    top: 40px;
}
.ninja-btn{
    border-right: solid 1px #DFE1E5;
}
.menu-button{
    cursor: pointer;
    display: inline-block;
    /* width: 37px; */
    font-size: 40px;
    color: rgba(3,64,193,.95);
    padding: 25px;
    height: 41px;
    top: -11px;
    position: relative;
    border-right: 1px solid #DFE1E5;
}

.site-footer {
    background: #0C45BE;
    color: white;
    font-size: 14px;
    padding-top: 15px;
}
.site-footer a, .site-footer a:hover{
    text-decoration: none;
    color: #fff;
}
.content-head h2{
    color: white;
    border-bottom: none;
    color: #fff;
    width: 197px;
    text-align: center;
    padding: 16px 8px;
    font-size: 20px;
    position: relative;
    top: 31px;
    background: #0f49c4;
    z-index: 10;
}
p.title{
    color: #1c1c1c;
    font-size: 20px;
}
@media only screen and (nin-width: 768px) {
    #bs-example-navbar-collapse-2{
        display: none;
    }
}
@media only screen and (nin-width: 992px) {
    #bs-example-navbar-collapse-2{
        display: none;
    }
}
@media only screen and (nin-width: 1200px) {
    #bs-example-navbar-collapse-2{
        display: none;
    }
}
.resposiveMenuBar:focus,.resposiveMenuBar:hover{
    background-color: transparent !important;
}
.custom_dropdown:focus,.custom_dropdown:hover{
    background-color: transparent !important;
}
.custom_dropdown{
    color:#fff !important;
}
#mobileMenuLink{
    color: #fff;
}
#mobileMenuLink:focus,#mobileMenuLink:hover{
    color: #fff;
}
.blueBackground{
    background-color: rgba(3, 64, 193, 0.95) !important;
}
.sbsd_brand_img{
    padding-top: 0px;
}
.custom_title{
    text-align: center;
    margin-top: 21px;
    color: #1c1c1c !important;
}
.nav_bar_search_form{
    margin-top: 12px;
    width: 30%;
}
.custom_search{
    margin-bottom:0px;
}
.custom_row_title{
    padding-right: 0px;
}
.title_img_background{
    background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;
}
.custom_row_content{
    margin-top: 15px;
}
.custom_panel{
    border: none;
    box-shadow:none;
}
.custom_body{
    border: none;
    box-shadow:none;
}
/* 
- Name: Responsive overlay menu framework
- Version: 1.0
- Latest update: 15.9.2015.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/

/* OPEN / CLOSE BTNS */
.menu-btn {
    position: absolute;
    top: 6px;
    right: 20px;
    z-index: 999;
    display: inline;
    font-size: 32px;
}
.menu-btn a {
    display: inline-block;
    text-decoration: none;
    /* safari hack */
}
.btn-open:after {
    color: #333;
    content: "\f394";
    font-family: "Ionicons";
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
}
.btn-open:hover:after {
    color: #34B484;
}
.btn-close:after {
    color: #fff;
    content: "\f2d7";
    font-family: "Ionicons";
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
}
.btn-close:hover:after {
    color: #34B484;
}
/* OVERLAY */
.overlay {
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #333;
}
.overlay .menu {
    margin: 10% auto;
    width: 80%;
}
.overlay .menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.overlay .menu ul li {
    float: left;
    padding: 20px 0;
    width: 25%;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}
.overlay .menu ul li a {
    color: #34B484;
    font-weight: bold;
    font-size: 20px;
}
.overlay .menu ul ul {
    margin-top: 50px;
}
.overlay .menu ul ul li {
    position: relative;
    float: none;
    margin: 0;
    width: 100%;
    border: 0;
}
.overlay .menu ul ul li a {
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}
.overlay .menu ul ul li a:hover {
    color: #34b484;
}
/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .overlay .menu ul li {
        float: none;
        margin-bottom: 50px;
        width: 100%;
        border-bottom: 1px solid #575757;
    }
    .overlay .menu ul li:last-child {
        border: 0;
    }
    .overlay .menu ul ul {
        margin-top: 20px;
    }
    .menu-btn {
        right: 25px;
    }
}

.allexamples{
    position:absolute;
    bottom:0;
    font-size:18px;
    font-weight:bold;
    width:100%;
    text-align:center;
    background:#e9e9e9;
    padding:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:#333;
    position:fixed;
} 

.full_screen_panel{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    margin-top: 0%;
    background-color: rgba(3,64,193,.95);
    left: -100%;
    padding:20px;
}
.nav_content_links{
    
}
/*Strip the ul of padding and list styling*/
.nav_content_links ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}

/*Create a horizontal list with spacing*/
.nav_content_links li {
    display:inline-block;
    float: left;
    margin-right: 15px;
}

/*Style for menu links*/
.nav_content_links li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: transparent;
    text-decoration: none;
    font-weight: 200;
    word-wrap: inherit;
}

/*Hover state for top level links*/
.nav_content_links li:hover a {
    background: transparent;
}

/*Style for dropdown links*/
.nav_content_links li:hover ul a {
    background: transparent;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

/*Hover state for dropdown links*/
.nav_content_links li:hover ul a:hover {
    background: transparent;
    color: #fff;
}

/*Hide dropdown links until they are needed*/
.nav_content_links li ul {
    display: none;
}

/*Make dropdown links vertical*/
.nav_content_links li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
.nav_content_links li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
.nav_content_links ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    .nav_content_links ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .nav_content_links li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .nav_content_links ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
    .nav_bar_search_form{
        width:auto;
    }
}
@media screen and (max-width : 992px){
    .nav_content_links{
        margin-left:5% !important;
    }
    .nav_bar_search_form{
        width:auto;
    }
}
@media screen and (max-width : 1200px){
    .nav_bar_search_form{
        width:auto;
    }
}
.nav_title{
    position: relative;
    color:#fff;
    font-size: 2em;
    margin-top:30px; 
    border-bottom: 1px solid #619ee4;
}
.nav_content_links{
    margin-left:20%;
    margin-bottom: 70px;
}
.anim {
    background: rgba(3, 64, 193, 0.95) none repeat scroll 0 0 !important;
    color: #fff !important;
}
.custom_navbar{
    margin-left: -1px;
}
.whiteColor{
    color:#fff;
}
.secondLi:after{
    content: " | ";
    color: #FFF;
    padding-left: 27px;
}
