<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>SWaM Certification</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <p style="text-align: center; color: red; font-size: medium;"><span style="color: red; font-size: medium; text-align: center;"><strong>SBSD HAS MOVED</strong><br />
                        Please note the new address at the bottom of the page.<br />
                    </span></p>
                <h1>Small, Women-owned, and Minority-owned Business (SWaM)</h1>
                <p>The <strong><u>S</u></strong><strong>mall, </strong><strong><u>W</u></strong><strong>omen-owned, and </strong><strong><u>M</u></strong><strong>inority-owned Business (</strong>SWaM) certification  program is a state program of the Commonwealth of Virginia. The purpose is to enhance  procurement opportunities for SWaM businesses participating in state-funded  projects. &nbsp;</p>
                <p>The time until the initial review for both SWaM initial applications and for recertifications is approximately 60 business days from the time that we received the signed SWaM application <strong>AND</strong> the required supporting documents.</p>
                <DIV dir="ltr" align="left"> <span class="style3"><em><strong><u><strong>Important   Notice:</strong></u></strong></em></span></DIV>
                <p><em><strong>If you are a <span class="style3"><u>non-Virginia based business</u></span>, you might not be eligible for participation in the Virginia&nbsp;Small,   Women- and Minority-owned Business Program. Please review the &quot;SBSD Certification Policy of Applications from Non-Virginia Based Businesses&quot; before applying online for SWaM certification or recertification. </strong></em><a href="pdf/states_do_not_certify_VABusiness.pdf"><em>(</em></a><em><a href="pdf/Policy_&_Procedures_for_Processing_Non-VA_Based_Business_Certification_for_SWaM_August_2011.pdf">Click here</a></em><a href="pdf/states_do_not_certify_VABusiness.pdf"><em>) </em></a></p>
                <br/>
                <h2><a name="startcontent"></a>SWaM  Initial Certification </h2>
                <p><strong>Certification Application Steps:</strong> </p>
                <blockquote><ol>
                        <li> Complete the Online Application for SWaM Certification.<br>
                            (You can review a <a href="pdf/SWaM Application Form Sample.pdf">sample of the application</a> prior to applying online. Please note: The sample application will not be accepted by DSBSD).</li>
                        <li> Print, sign and date the  completed application form.<span class="style3"> (Printing for Mozilla Firefox Users, click <a href="documents/Firefox_extension.doc">here</a>)</span></li>
                        <li> Mail the signed application and  all required supporting documents to DSBSD.<br></li></ol>
                    <span class="style3"><strong>Important notice</strong> : <br>
                        You must mail us your signed  application with all required supporting documents or your application will  not be processed.<br/>
                        Do not submit the original copy of supporting documents.</span> </p>
                </blockquote>
                </ol>
                <p><a href="https://egov1.virginia.gov/mbe_cert/cgi-bin/intro.cgi">Initial Certification Application</a> <a href="https://egov1.virgina.gov/mbe_cert/cgi-bin/intro.cgi"></a></p>
                <p><a href="pdf/certification_supporting_document.pdf">Required Supporting Document to be Submitted for <acronym title="Minority Business Enterprise">SWaM</acronym> Certification (PDF)</a>| <a href="documents/certification_supporting_document.doc">(Word)</a></p>
                <p><a href="pdf/owner_title.pdf">Owner Title Sheet (PDF)</a> | <a href="documents/owner_title.doc">(Word)</a></p>
                <p><strong>If you would like to apply for the Micro Business Designation, you can do so as part of your application for SWaM certification:</strong></p>

                <ul><li>When filling out the required “Owner Title Sheet” above, check “yes” to indicate that you also want to apply for Micro Business status.</li>

                    <li>For information about Micro requirements, see the heading below.</li></ul>
                </p>
                <br>

                </p>
                <h2><a name="startcontent"></a>SWaM Re-Certification Process</h2>
                <p><strong>Re-certification Application Steps:</strong></p>
                <blockquote>
                    <p><strong> 1</strong>:  Complete the on-line application for  SWaM certification. Click <a href="https://egov1.virginia.gov/mbe_cert/cgi-bin/intro.cgi"><u>here</u></a>. A &ldquo;YES&rdquo;  answer to the first question on the application will take you to the  re-certification application.<br>
                        <strong> 2</strong>:  Print,  sign and date the complete application form. Please cross off the old information  and write in the current information. <br>
                        <strong>3</strong> : Mail the signed application and  all required supporting documents to SBSD.<br>
                        <span class="style3"><u><strong>Important notice</strong></u> : <br>
                            You must mail us your <u>signed  application</u> with all required supporting documents or your application will  not be processed.<br/>
                            Do not submit the original copy of supporting documents.</span> </p>
                </blockquote>
                <p><a href="https://egov1.virginia.gov/mbe_cert/cgi-bin/intro.cgi">Certification Application</a> <a href="https://egov1.virgina.gov/mbe_cert/cgi-bin/intro.cgi"></a></p>
                <p><a href="pdf/certification_supporting_document.pdf">Required Supporting Document to be Submitted for <acronym title="Minority Business Enterprise">SWaM</acronym> Certification (PDF)</a> | <a href="documents/certification_supporting_document.doc">(Word)</a> </p>
                <p><a href="pdf/owner_title.pdf">Owner Title Sheet (PDF)</a> | <a href="documents/owner_title.doc">(Word) </a></p>
                <p><strong>If you would like to apply for the Micro Business Designation, you can do so as part of your application for SWaM re-certification:</strong></p>

                <ul><li>When filling out the required “Owner Title Sheet” above, check “yes” to indicate that you also want to apply for Micro Business status.</li>
                    <li>For information about Micro requirements, see the heading below.</li>
                </ul>
                <br>
                <h2 align="left"><a name="startcontent"></a>SWaM Micro Business Designation</h2>
                <p><em><strong>Per Executive Order 20 (2014), effective  October 1, 2014, all state purchases under $10,000 shall be set aside for  micro-businesses when the price quoted is fair and reasonable. The full Executive Order can be read here: <a href="https://governor.virginia.gov/media/3349/eo-20-advancing-equity-for-small-women-and-minority-owned-businesses.pdf">Executive Order 20 (2014)</a>.</strong></em></p>
                <p>As a certified Small  Business by the Department, your company might qualify to be a &ldquo;Micro  Business&rdquo;.</p>
                <p>Micro Business is a  certified Small Business under the SWaM Program and has no more than  twenty-five (25) employees <strong>AND</strong> no more than $3 million in average annual  revenue over the three-year period prior to their certification.</p>
                <p>There are two methods of applying for Micro:
                <ol><li>As part of your application for SWaM certification or recertification:

                        <p>When filling out the required “Owner Title Sheet”, check “yes” to indicate that you also want to apply for Micro Business status.</p></li>
                    <li>Complete the online “Micro Business” application form that includes uploading one PDF file that contains all required supporting documents.</li></ol>


                <p><strong>BEFORE</strong> applying for Micro via the online process, please read over the full instructions here: <a href="pdf/Micro_Business_flyer_1-12-2015.pdf">Micro Business Instructions</a>.</p>

                <p><span class="style3"><strong>NOTE:</strong></span> The single PDF file containing the supporting documents that you must upload to the online Micro application <strong>MUST</strong> be less than 4 MB. Therefore, for your conveniece here is a site that provides free .pdf compression for the Micro Business supporting documents: <a href="http://smallpdf.com/compress-pdf">http://smallpdf.com/compress-pdf</a> .</p>

                <!--    <p>Here is the link to the Micro application online form: <a href="http://vamba.binaryfountain.com/vendor/vendor-certification/mba">http://vamba.binaryfountain.com/vendor/vendor-certification/mba</a>.</p> -->
                <p>A listing of certified Micro Business firms can be found on the <a href="http://www.eva.virginia.gov">eVA website</a>, as well as through the SWaM Vendor Search page on our website. </p>
                <br>
                <h2><em><a name="startcontent"></a>SWaM Designation Definitions</em></h2> 

                <p> For definitions of the state-level designations we certify, click &quot;<a href="pdf/SDV_info.pdf" target="_blank">here</a>&quot;</p>
                <br>
                <h2 align="left"><a name="startcontent"></a>SWaM Forms </h2>
                <p><a href="pdf/SWaM_Notice of Change.pdf">SWaM Notice of Change</a></p>
                <p><a href="pdf/Request_for_Informal_Hearing_Form.pdf">Request for Informal Hearing</a></p>
                <p><a href="pdf/request_for_additional_SWaM_Type.pdf">Request for Additional Certified SWaM Type</a></p>
                <p><a href="pdf/SWaM_Certification_Logo_Request.pdf">Request for DSBSD-Certified SWaM Logo</a></p>
                <p><a href="documents/Request_for_Event_Speaker_Form.doc"></a><a href="pdf/Third_Party_Complaint_Process_Form.pdf">Third Party Challenges or Complaints</a><br>
                    <span class="linkdescription">To be used  to file complaint regarding a DSBSD-certified business </span></p>
                <p><a href="pdf/request_for_on-site_SWaM.pdf">Request for On-site Visit by Certified SWaM Firm</a> </p>
                <br>
                <h2><em><a name="startcontent"></a>Regulations governing SWaM Certification: Virginia Administrative Code</em></h2>
                <p> For the full text of the Virginia Administrative Code governing SWaM   Certification, click <a href="http://leg1.state.va.us/cgi-bin/legp504.exe?000+reg+7VAC10-21-10">&quot;</a><a href="http://law.lis.virginia.gov/admincode/title7/agency10/chapter21">here</a><a href="http://leg1.state.va.us/cgi-bin/legp504.exe?000+reg+7VAC10-21-10">&quot;</a></p>
                <h4><a name="startcontent"></a>Definition of Key Words (Code of Virginia Section 2.2-1401) </h4>
                <p>The SWaM certification program is administered by  the Virginia Department of Small Business and Supplier Diversity (&ldquo;DSBSD&rdquo;) and is the Commonwealth   of Virginia&rsquo;s effort to  help small, women- and minority-owned businesses with doing business with state  government entities.&nbsp; <br>
                    Applicants to the SWaM certification program must complete the on-line  application for certification and provide the required documents with the  application to be considered for certification as a Small, Women- or Minority-owned  Business. </p>
                <p>Click <a href="http://law.lis.virginia.gov/admincode/title7/agency10/chapter21/section20">here</a> for &quot;Definitions<a href="documents/Definitions.doc">&quot; </a>.</p>
                <h4><em><a name="startcontent"></a></em> <em>Definition of &quot;Principal Place of Business&quot;</em></em></h4>
                The &quot;principal place of business&quot; means the physical  business location where natural persons who control the business's day-to-day  operations spend most working hours, and the books and records of the company  are being kept. A &quot;Virginia-based business&quot; means a business that has  its principal place of business in Virginia.  As such, the business&rsquo;s state of incorporation is not given eligibility  consideration for an out-of-state business.
                </p>
                <br>
                <h2></a>Service Disabled Veteran Designation Now Available for SWaM Business  Owners</em></h2>
                <p> Virginia Certified Small Businesses owned by Service-Disabled Veterans can obtain an additional designation. For more information, read the notice <a href="pdf/SDV_info.pdf" target="_blank">here</a>.</p>
                <br>
                <h2></a>Virginia Freedom of Information Act</em> </h2>
                <p><strong>Please Note</strong>: under Section 2.2-3705.6(20) of the <em>Code of Virginia</em>, trade secrets as  defined in the <em>Uniform Trade Secrets Act</em> (Section <a href="http://leg1.state.va.us/cgi-bin/legp504.exe?000+cod+59.1-336">59.1-336</a> et seq., <em>Code of Virginia</em>) or  financial records of a business, including balance sheets, financial  statements, and income tax returns, as part of an application for certification as a small, women- or  minority-owned business are exempt from disclosure under the <em>Virginia Freedom of Information Act</em> (Section 2.2-3700 et seq.) The business is required to (a) invoke such  exclusion upon submission of the data or other materials for which protection  from disclosure is sought, (b) identify the data or other materials for which  protection is sought, and (c) state the reasons why protection is necessary. </p>
                </p>
                <p><a href="pdf/FOIA_Policy _2010_DMBE.pdf"> Department of Small Business and Supplier Diversity&rsquo;s Freedom of  Information Act (FOIA) Policy </a></p>
                <!--h1 align="left">&nbsp;</h1-->
                <blockquote>
                    <p><a href="https://logi.epro.cgipdc.com/External/rdPage.aspx?rdReport=Public.Reports.Report9004_Data"><acronym title="National Institute of Governmental Purchasing">NIGP</acronym> Commodity Codes</a><br>
                        <span class="linkdescription">Needed for Small, Women and Minority-Owned (SWaM) Application.</span></p>
                    <p> ** Please Note you will need <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe&rsquo;s Acrobat Reader (.pdf)</a> or <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=95e24c87-8732-48d5-8689-ab826e7b8fdf&DisplayLang=en">Microsoft Word Reader (.doc)</a> in order to view some of the documents on this page. </p>
                </blockquote>
            </div>

        </div>
    </div>
</div>
<!-- /.col-lg-12 -->
