<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>SWaM Purchasing and Expenditure</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <br>
                <h1><a name="startcontent"></a>Small, Women and Minority (SWaM) Purchasing and Expenditure Reports </h1>
                <h4>Governor's Supplier Diversity Policy Statement  (<a href="http://www.eva.virginia.gov/library/files/buyers/Supplier-Diversity-Policy-Statement.pdf">Click here</a>) </h4>
                <h4>Reporting <ACRONYM title="Small, Women and Minority">SWaM</acronym> Expenditures</h4>
                <p><a href="pdf/SWaM_Dashboard_User_Guide_2015.pdf">SWaM Dashboard User Guide 2015</a></p>
                <p><a href="pdf/total_expenditure_swam_report.pdf">Total Expenditure Extraction for <ACRONYM title="Small, Women and Minority">SWaM</acronym> Reporting (PDF)</a> | <a href="documents/total_expenditure_swam_report.doc">(Word)</a> <br>
                    <span class="linkdescription">Data collection of  Total Discretionary expenditures for SWaM quarterly reports.</span></p>
                <p><a href="pdf/web_object_code_list.pdf">Reportable Object Codes for SWaM reports (PDF)</a> | <a href="documents/web_object_code_list.doc">(Word)</a> <br>
                    <span class="linkdescription">Reportable CARS Object Codes 

                        object code 1272 has been changed to 1273, 1249 and 2277 have been added</span><span class="linkdescription"> (Current as of April 2007). </span></p>
                <p><a href="pdf/swam_pcard_reporting_guidelines.pdf"><ACRONYM title="Small, Women and Minority">SWaM</acronym> Purchasing Card Reporting Guidelines (PDF)</a><br>
                    <span class="linkdescription">Projected Small, Women and Minority (SWaM) reporting dates FY10.</span></p>
                <p><a href="/pdf/2015_Dashboard_Calendar.pdf"><ACRONYM title="Small, Women and Minority">SWaM</acronym> Dashboard Data Update Schedule (PDF)</a></p>
                <p><a href="pdf/DMBEFTPS.pdf">SBSD Secure FTP User Guide PDF)</a><br>
                    <span class="linkdescription">Installation of the file transfer software and downloading certified vendor list.</span></p>
                <p>** To view these files in another format, contact <A href="mailto:sbsd@sbsd.virginia.gov">sbsd@sbsd.virginia.gov</A></p>
                <h4>SWaM Quarterly Reports</h4>
                <p><a href="swamreports.html"><ACRONYM title="Small, Women and Minority">SWaM</ACRONYM> Quarterly Reporting</a> <BR>
                    <span class="linkdescription">Small, Women and Minority Expenditure Reports.</span></p>
                <h4>&nbsp;</h4>
                <p>*** Please Note you will need <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe&rsquo;s Acrobat Reader</a> and <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=95e24c87-8732-48d5-8689-ab826e7b8fdf&DisplayLang=en">Microsoft Word Reader</a> in order to view some of the documents on this page.</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
