<div class="row custom_row_title">
    <div class="col-lg-12 title_img_background"  style='background: linear-gradient(rgba(16, 50, 70, 0.6), rgba(16, 50, 70, 0.6)), url("https://www.virginia.gov/assets/img/services/business-tax-center_head.jpg") center center;'>
        <div class="content-head">
            <h2>Reports NewsLetters</h2>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row custom_row_content">
    <div class="col-lg-12">
        <div class="panel panel-default custom_panel">
            <div class="panel-body custom_body">
                <br>
                <h1><a name="startcontent"></a>Reports</h1>
                <h4>Reports</h4>
                <p><a href="pdf/DMBE_Brochure.pdf">DMBE Spotlight - A Year of Shining Success</a></p>
                <p><a href="pdf/CoVa-DisparityStudyPhaseIIJuly-13-2011.pdf">A Disparity Study for the Commonwealth of Virginia, Phase II, July 13, 2011</a> </p>
                <p>A  Disparity Study for the Commonwealth   of Virginia, January 13,  2010</br>
                <ul>
                    <li><a href="pdf/CoVa-DisparityStudyExecutiveSummary2010.pdf"> Excutive Summary</a></li>
                    <li><a href="pdf/Disparity_Study_January_13_2010.pdf">Full Report </a></li>
                </ul>
                <p><a href="pdf/DMBE_2009_Progress_Report.pdf">2009 DMBE Agency Progress Report </a></p>
                <p><a href="swamreports.html"><acronym title="Small, Women and Minority">SWaM</acronym> Expenditure  Reporting</a> <br>
                    <span class="linkdescription">2005, 2006, 2007, 2008, 2009, 2010, Small, Women and Minority Reporting. </span></p>
                <p><a href="pdf/SWaM Success Stories.pdf">SWaM Success Stories (PDF) </a></p>
                <p><a href="pdf/swamhightlights.pdf">Highlights in <acronym title="Small, Women and Minority">SWaM</acronym> Purchasing Program (PDF)</a> </p>
                <p><a href="pdf/mbecommissionreport.pdf">Minority Business Enterprises Commission Report  (PDF)</a> | <a href="documents/mbecommissionreport.doc">(Word)</a> <br>
                    <span class="linkdescription">Report of the Governor's Advisory Commission on Minority Business Enterprise</span>.</p>
                <p> <a href="pdf/disparity.pdf">Disparity Study Report 2004 (PDF)</a><br>
                    <span class="linkdescription">View a procurement disparity study of the Commonwealth of Virginia.</span></p>
                <p> <acronym title="Department of Minority Business Enterprise"><a href="pdf/serviceareaplan.pdf"></a></acronym><a href="pdf/serviceareaplan.pdf"> Service Plans (PDF)</a> | <a href="documents/serviceareaplan.doc">(Word)</a> <br>
                <span class="linkdescription">Department of Small Business and Supplier Diversity service plans. </span></p>
                <p> <acronym title="Department of Minority Business Enterprise"><a href="pdf/strategicplan.pdf"></a></acronym><a href="https://solutions.virginia.gov/pbreports/rdPage.aspx?rdReport=vp_Agency&rdAgReset=True&Agency=350"> Strategic Plan </a><br>
                <span class="linkdescription">Department of Small Business and Supplier Diversity strategic plan.</span></p>
                <p>** Please Note you will need <a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe&rsquo;s Acrobat Reader (.pdf)</a> or <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=95e24c87-8732-48d5-8689-ab826e7b8fdf&DisplayLang=en">Microsoft Word Reader (.doc)</a> in order to view some of the documents on this page. To view these files in another format, contact <A href="mailto:dmbe@sbsd.virginia.gov">sbsd@sbsd.virginia.gov</A></p>
                <p><br>
                </p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
